[2019-10-31 02:51] sywhang commented on #1033
I think we could just throw an exception and the client can decide whether it wants to retry on such error.

On a side note, do we have a timeout for the read when we're in the streaming case?

[2019-11-01 00:22] Maoni0 opened #1036 "enable generational aware analysis in perfview"
this is in the code but is not compiled in (`CROSS_GENERATION_LIVENESS` is not defined). it uses debugger functionality so we'd need to ship a dbg dll - while increasing the download size I believe the value it provides over weighs the size increase by a lot.

currently we are seeing some errors when enabling this.

@andy-ms @brianrob

[2019-11-01 20:21] brianrob commented on #721
@jmunty, is this still an issue?

[2019-11-01 20:34] brianrob commented on #734
@GunSharp apologies for the very long delay in responding to this.  I opened your trace file and it looks like the error you got is expected, because there is an LTTng trace present in the file but it contains no events.  The error is essentially ignorable, and won't affect your ability to open the CPU stacks data.  I was able to open and view your trace.

If you do continue to run into issues, pl

[2019-11-01 20:34] #734 closed

[2019-11-01 20:39] brianrob commented on #754
@jjrm it's hard for me to tell exactly what's happening here without the trace, but my guess is that the PRE_BEGIN_REQUEST_START event is being fired before the ASP.NET start event, and so it doesn't show up as part of the request.

If you have a trace file that demonstrates this, that would make it much easier to diagnose.

[2019-11-01 20:44] brianrob commented on #780
Fixed via #857.

[2019-11-01 20:44] #780 closed

[2019-11-01 20:51] brianrob commented on #782
@mehmetilker are you still encountering this issue?

[2019-11-02 08:47] mehmetilker commented on #782
@brianrob I haven't seen anything in release notes related with this issue since I first encountered. But I see there are lots of commits. I will try again and let you know.

[2019-11-04 17:04] #986 closed

[2019-11-04 23:11] jasonmalinowski opened #1037 "DivideByZero exception while opening GC Heap Net Mem Stacks"
While trying to open the GC Heap Net Mem Stacks view for a trace, it fails to open and I get a "attempted to divide by zero" in the logs:

[code]

Help > About shows:

    PerfView Version 2.0.47
    BuildDate: Tue, 29 Oct 2019 11:18:55 GMT

[2019-11-05 06:45] mehmetilker commented on #782
Hi @brianrob I have tried with newest version. Yes, same problem is still there.

[2019-11-05 14:42] brianrob commented on #1037
@jasonmalinowski, can you please share the trace that you were opening when you saw this?  It's OK if you need to send me the info via e-mail instead of posting it here.

[2019-11-05 18:09] jasonmalinowski commented on #1037
@brianrob Emailed internally.

[2019-11-05 18:11] brianrob opened #1038 "Define Peformance Tests for CallTree"
From #1035.

We should have a set of test cases (traces or gcdump files) that we can use to understand the performance characteristics of a change to CallTree.  These types of tests are going to become more and more important as we attempt to make changes to the core codepaths in TraceEvent and PerfView and want to ensure that we maintain particular performance characteristics.

[2019-11-05 18:11] brianrob opened #1039 "Define Performance Tests for CallTree"
From #1035.

We should have a set of test cases (traces or gcdump files) that we can use to understand the performance characteristics of a change to CallTree.  These types of tests are going to become more and more important as we attempt to make changes to the core codepaths in TraceEvent and PerfView and want to ensure that we maintain particular performance characteristics.

[2019-11-05 18:11] brianrob opened #1040 "Define Performance Tests for CallTree"
From #1035.

We should have a set of test cases (traces or gcdump files) that we can use to understand the performance characteristics of a change to CallTree.  These types of tests are going to become more and more important as we attempt to make changes to the core codepaths in TraceEvent and PerfView and want to ensure that we maintain particular performance characteristics.

[2019-11-05 18:14] brianrob opened #1041 "Define Performance Tests for CallTree"
From #1035.

We should have a set of test cases (traces or gcdump files) that we can use to understand the performance characteristics of a change to CallTree.  These types of tests are going to become more and more important as we attempt to make changes to the core codepaths in TraceEvent and PerfView and want to ensure that we maintain particular performance characteristics.

[2019-11-05 18:15] brianrob commented on #1041
@sharwell, I know that you have some fairly large test cases.  Do you have anything that would be a good candidate for this?

[2019-11-05 18:15] brianrob commented on #1041
cc:@ninedan

[2019-11-05 23:03] sharwell commented on #1040
Duplicate of #1041

[2019-11-05 23:03] #1040 closed

[2019-11-05 23:04] sharwell commented on #1039
Duplicate of #1041

[2019-11-05 23:04] #1039 closed

[2019-11-05 23:04] sharwell commented on #1038
Duplicate of #1041

[2019-11-05 23:04] #1038 closed

[2019-11-05 23:06] brianrob commented on #1040
Thanks @sharwell. GitHub was returning an error when creating these. Apparently it actually created them...

[2019-11-05 23:07] sharwell commented on #1041
https://dev.azure.com/devdiv/DevDiv/_workitems/edit/968672
https://dev.azure.com/devdiv/DevDiv/_workitems/edit/998181
https://devdiv.visualstudio.com/DevDiv/_workitems/edit/758630

[2019-11-06 00:48] sharwell commented on #1041
Issue #1035 is primarily observed by expanding the Callees view for large arrays of managed objects.

[2019-11-06 06:44] noahfalk opened #1042 "Create performance test/benchmark for real-time streaming TraceEvent usage"
Capturing a request that was originally made here: https://github.com/dotnet/diagnostics/issues/380#issuecomment-508612205

[2019-11-13 15:52] sandeeprawat commented on #166
I'm getting the same issue with .net core 2.1 trace from Linux. Using latest PerfView (2.0.46)

`Completed: Opening CPU Stacks   (Elapsed Time: 115.629 sec)
Exception Occurred: System.AggregateException: One or more errors occurred. ---> System.FormatException: Input string was not in a correct format.
   at System.Number.ParseDouble(String value, NumberStyles options, NumberFormatInfo numfmt)

[2019-11-14 10:52] sandeeprawat opened #1048 "System.Format Exception when opening the CPU view on on a Linux Trace"
I'm getting the System.Format exception when trying to load .net core 2.1 trace from Linux. Using latest PerfView (2.0.46)

Shared trace at https://drive.google.com/open?id=1z-WOW_jjoOz_a7GKEjgHrbQFluSA0lfQ

[code]

[2019-11-14 14:27] alexandre-mckinnon opened #1049 "Types in Utilities namespace"
In the Microsoft.Diagnostics.Tracing.TraceEvent assembly, some types are in the Utilities namespace.

Those types should probably be in the Microsoft.Diagnostics.Tracing.Utilities namespace:

Utilities.Cache<K,T>
Utilities.Command
Utilities.CommandOptions
Utilities.IndexMap
Utilities.OperatingSystemVersion

[2019-11-15 03:05] amruthrajv-dev opened #1054 "Why Perfview doesn't display provider name, event name and message?"
We are generating some etw log files for our application. I use Perfview to read the .etl files. Some times Perfview shows events like the below screenshot. It does not show the proper provider name/event name and the message. Instead I can see the GUID. I am not able to find out in what scenario this happens. I cannot suspect the event source because this doesn't happen with all .etl files.
[Imag

[2019-11-18 19:47] josalem opened #1057 "SpeedScopeStackSource fails to escape new-lines in json"
Original issue in dotnet/diagnostics:

_Original comment by: @tmds_

dotnet/diagnostics#623

Should just be a matter of adding encoding logic to the JSON writing logic.  Could use [the new System.Text.Json API](https://docs.microsoft.com/en-us/dotnet/api/system.text.encodings.web.javascriptencoder?view=netcore-3.0) which is available as a nuget package to older versions of the runtime.

CC - @adam

[2019-11-19 09:48] kripergvg opened #1058 "Initialization of EventPipeEventSource stucks with ServerGC"
I want to listen to GC events of another process. I have an initialization code like this
[code]
When I run a monitored process with workstation GC everything is good but as soon as i change it to server GC the monitoring process gets stuck at ReadFileNative:677
![image](https://user-images.githubusercontent.com/7288803/69135757-ae2bd080-0aca-11ea-9b5b-fece5e71fad9.png)
Stack trace
![image](https:

[2019-11-24 20:32] kwaclaw commented on #1002
Still seems to be an issue with Microsoft.Diagnostics.Tracing.TraceEvent 2.0.48

[2019-11-26 13:41] alexandre-mckinnon commented on #1049
PR #1062 doing this.

[2019-11-27 20:54] JustinKaffenberger opened #1064 "Question: How to use an Azure DevOps Symbol Server inside of PerfView?"
It seems for some time now Azure DevOps has supported [publishing symbols](https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/symbols?view=azure-devops), and, as far as I can tell, each Azure DevOps organization has a dedicated symbol server.

My question is, how can I, if possible, use this Symbol Server inside of PerfView (for example, using the *Set Symbol Path* action)?

[2019-11-27 20:58] brianrob commented on #1064
From a quick read of the article, it appears that AzDO supports various types of symbol drops, from file shares to indexed symbols.  At a minimum you should be able to point at a UNC file path or a symbol server using Set Symbol Path, and that should work.  If it doesn't, then the PerfView log should contain information about what went wrong.

[2019-11-30 11:30] DavidXanatos opened #1066 "Slow event triggering wien compared with krabsetw"
I was testing the EventTracing from perfview and noticed that an event takes about 2.3 sec to be triggered using this library,
in comparison https://github.com/microsoft/krabsetw only needs about 1 second.

is there a way to improve the latency of this library?

[2019-12-02 14:03] sharwell commented on #1066
We would need to see the specific scenario to identify the differences leading to this latency.

[2019-12-02 17:18] DavidXanatos commented on #1066
In my scenario I was watching the "Microsoft-Windows-Winsock-NameResolution" ProviderID: {55404E71-4DB9-4DEB-A5F5-8F86E46DDE56}
And using a console tool that uses the NameResolution API to trigger these events, ping.exe or telnet.exe seam to be fine for that.

I noticed that a test application using the libray from perfview from when I caused an event to it being logged to the console it took over

[2019-12-02 18:12] JustinKaffenberger commented on #1064
That makes sense, I think I'll need to open a separate issue with Microsoft (not sure where yet) to clarify what the actual URI is to the symbol server. My other concern is that its a private symbol server, so I'm not sure how PerfView would behave in that scenario.

[2019-12-03 17:15] adamsitnik commented on #1057
It was possible to fix the problem in `dotnet trace`: https://github.com/dotnet/diagnostics/pull/661

IMHO this issue can be closed. Or I can add a very defensive condition to `SpeedScopeStackSourceWriter` (I would prefer not to do it)

[2019-12-04 09:09] jdu2600 opened #1067 "incomplete instrumentation manifest - no channel or message details"
GetManifestForRegisteredProvider() doesn't recover the (Event Log) channel and message details from the windows provider database when recreating the xml instrumentation manifest.

This would be very helpful for ETW providers that are also Event Log providers.

[2019-12-04 09:16] jdu2600 opened #1068 "invalid instrumentation manifest - unescaped quotes and angled braces"
GetManifestForRegisteredProvider() produces XML that does not correctly escape quotes " and angled braces <>.

The generated manifest for Microsoft-Windows-Ntfs has examples of both characters. Other examples are Microsoft-Windows-AppXDeployment-Server, Microsoft-Windows-GroupPolicy and Microsoft-Windows-NetworkProvider.

[2019-12-04 10:32] jdu2600 opened #1069 "instrumentation manifest - duplicate stringTable elements"
The stringTable in the instrumentation manifest generated by GetManifestForRegisteredProvider() can have duplicate elements.

e.g. Microsoft-JScript provider's manifest includes -
[code]

[2019-12-05 21:33] josalem commented on #1057
I think the fix is dotnet/diagnostics is sufficient.  Thanks for finding the issue 😃

[2019-12-05 21:33] #1057 closed

[2019-12-06 18:16] ghost opened #1070 "Suspicious code in ConvertMarkTimes"
`ConvertMarkTimes()` in `TraceManagedProcess.cs` contains the following code:

[code]

If `item.Value.MarkTimes[(int)MarkRootType.MarkOlder] == 0.0`, then subtracting it should have no effect.

[2019-12-10 23:37] victorlin opened #1071 "Large number of providers from GetRegisteredOrEnabledProviders() goes against documentation"
I have used these methods to get a list of providers on my machine:

- `logman query providers` : 1108 providers
- `TraceEventProviders.GetPublishedProviders()` : 1104 providers
- `TraceEventProviders.GetRegisteredOrEnabledProviders()` : ~2540 providers (fluctuates consistently around this number)

The documentation for `GetRegisteredOrEnabledProviders()` states:

I am not getting a "small list".

[2019-12-11 20:52] billwert commented on #1071
Those are very old comments. They probably pre-date the support Windows 10 for Tracelogging, which allows for trivial dynamic provider creation. My guess is that modern systems will have substantially more providers running than are registered.

Is this a question about why the comment is wrong, or are you hitting an issue?

[2019-12-11 21:44] victorlin commented on #1071
Ah ok, my main concern was the outdated comments. Thanks for the clarification.

A related concern is the difference in results between `logman query providers` and `TraceEventProviders.GetPublishedProviders()`. The documentation for this method states:

However, there is a difference in the number of providers as well as a few provider name differences. How do these two ways of retrieving a list

[2019-12-11 23:16] ddrinka opened #1072 "A subscription to EventPipeEventSource.Dynamic.All does not resolve event names from CLR events"
I'm following along with [the sample code](https://github.com/dotnet/diagnostics/blob/master/documentation/design-docs/diagnostics-client-library.md#1-attaching-to-a-process-and-dumping-out-all-the-runtime-gc-events-in-real-time-to-the-console) included in the dotnet/Diagnostics repository.  This code uses an EventPipe attachment to a second process to monitor events in real time.

I'm experiencin

[2019-12-11 23:35] ddrinka commented on #1072
[The test cases](https://github.com/microsoft/perfview/blob/f25aff01deec85104318fe541765a82b3d62c17f/src/TraceEvent/TraceEvent.Tests/EventPipeParsing.cs#L47) for EventPipe parsing use `EventPipeEventSource.AllEvents`.  I have tested this and experience similar behavior.

[code]

[2019-12-15 17:50] FilippoPolo opened #1073 "error: HeapDump failed with exit code 1"
Hi all,

I have a Windows 7 x64 system where I'm trying to debug a managed memory leak. I can only observe it in production, over a fairly long time, so I'd like to use PerfView to get a heap dump of the situation while the problem is happening.

The problem is, if I attempt to get a heap dump with ETL, no file is generated and PerfView displays a message saying "error: HeapDump failed with exit c

[2019-12-30 12:37] OfekShilon commented on #838
Recently a different repository added a fix for a similar issue: https://github.com/zodiacon/EtwExplorer/pull/3

They write -

[2020-01-01 08:13] OnurGumus opened #1079 "DotNetCalls switch actually work?"
Can anyone verify DotNetCalls actually work ? I can't see any CallEnter events even though I start my processes after the collection.

[2020-01-03 00:49] artemsv opened #1081 "TraceEvent library used in monitoring tool causes memory leak."
Hello, perfview developers!

I am trying to build a monitoring tool that just starts a real time ETW sessions and send information to some location. The issue is that after several days of working the process eats gigabytes of memory. "Leaked" objects are

![image](https://user-images.githubusercontent.com/1922262/71701172-0435a880-2dd9-11ea-9adb-0ebc57814be2.png)

Well, it seems that is not a rea

[2020-01-03 02:02] mjsabby commented on #1081
Maybe there is some API change we could make it to improve this, but do you need to use `TraceLog`?

A real time monitoring tool would be more efficient if it did only what it needed to do, rather than using `TraceLog` which does extensive buffering to provide a richer analysis.

I would use `ETWTraceEventSource`.

[2020-01-03 02:25] mjsabby commented on #1064
@JustinKaffenberger At this very moment you would need a proxy server that uses your PAT Token and issues the request on your behalf and you configure that proxy server in PerfView. I'm looking to see if there is a way we could make this setup easier by having PerfView host a proxy server and excavating your AAD credentials from your login, but that is a ways out for me.

In the meantime, however,

[2020-01-03 11:02] artemsv commented on #1081
Thank you, @mjsabby , for the answer. Going to test your proposal and close the issue if it works.

[2020-01-04 09:01] luckerby opened #1087 "Background GC Collections Missing With ".NET Alloc" Checked"
On a piece of code that generates background GC collections every time it runs (adding 10 mil int values to an ArrayList), I'm seeing different outcomes whether the ".NET Alloc" checkbox in the Advanced Options is set or not.

First, ".NET Alloc" checkbox is NOT set, as follows:
![image](https://user-images.githubusercontent.com/31319583/71763199-ce301b80-2ee1-11ea-9b1e-712189fc81a4.png)

The corr

[2020-01-07 18:43] brianrob commented on #1079
I just did a quick test and yes, I was able to get CallEnter events when starting the process after collection is started.  The reason this is required is because the mechanism uses the Profiler API which gets registered on start-up of the runtime.

Is it possible that the app in question already uses the profiler API?  It's currently only possible to load one profiler DLL into a process.

[2020-01-08 03:59] ryandle commented on #310
I was trying to use this flag and hit the same exception as Maoni. @brianrob let know if you'd like access to a repro machine.

The hresult 0x80280013 is documented as "An encrypted blob is invalid or was not created by this TPM." which seems pretty odd in this scenario to me (but I don't know much about what is happening with kernel ETW buffers under the hood.)

[2020-01-09 18:34] brianrob commented on #1087
@luckerby, this is expected because `.NET Alloc` is implemented using the profiler API and the implementation specifies `COR_PROF_MONITOR_GC`.  Generally speaking if you want to analyze GC behavior you should not use any of the mechanisms that use the profiler API since this will impact a bunch of runtime behavior.  This particular option is good for capturing every allocation, which will still be

[2020-01-09 21:40] luckerby commented on #1087
I was trying to understand some entries in GCStats that had non-zero "Gen0 Alloc MB" values but 0% "Gen0 Survival Rate%", particularly the objects that would trigger this, given that my code didn't alloc that much in the SOH (not visible unfortunately in the printscreens I pasted). Since the Profiling API requires a full GC in order to do heap traversal, and "count" the space allocated by objects,

[2020-01-09 23:42] brianrob commented on #1087
Based on what you are trying to investigate, `.NET Alloc` should work for you - specifically you should be able to see all allocations.  The difference will be how they are collected (you won't see background gen2 GCs when `.NET Alloc` is enabled).  Allocations are likely the right way to attack this problem since you're right that it will be hard to catch the objects before they are collected and

[2020-01-11 13:52] luckerby commented on #1087
Thanks @brianrob. I've been looking at the data so far, and I got this:

1. From the [documentation](https://docs.microsoft.com/en-us/dotnet/framework/unmanaged-api/profiling/cor-prf-monitor-enumeration), we know that `COR_PRF_MONITOR_GC` disables BGC from occurring
2. Based on the [code](https://github.com/microsoft/perfview/blob/624613f57f9ede8d5d0e2623456cef606a8bb99e/src/EtwClrProfiler/CorProf

[2020-01-12 08:55] davidfowl opened #1092 "Bug in parsing logging events"
I'm trying to use trace event to collect structured logs from a running process and I noticed that some data is being exposed from the wrong payload names.

As an example, here's an MVC project that logs using ILogger:

[code]

[code]

[code]

Notice that the first event has EventName as `Request starting HTTP/1.1 GET http://localhost:7000/  ` and FormattedMessage as empty string. It seem as thoug

[2020-01-13 22:31] artemsv commented on #1081
ETWTraceEventSource works well, closing the issue

[2020-01-13 22:31] #1081 closed

[2020-01-14 18:49] brianrob commented on #1092
@davidfowl, what mechanism (ETW, EventPipe, etc.) did you use to collect this?  Also, can you share the trace out?

[2020-01-14 19:01] davidfowl commented on #1092
@brianrob dotnet trace. Sure

[2020-01-14 21:29] brianrob commented on #1087
Here's the order of what happens when you check the .NET Alloc checkbox:

1. When you start collection, the state of the checkbox is saved into the `CommandLineArgs` object: https://github.com/microsoft/perfview/blob/master/src/PerfView/Dialogs/RunCommandDialog.xaml.cs#L642
2. Collection is started via `ExecuteCommand` here: https://github.com/microsoft/perfview/blob/master/src/PerfView/Dialogs/Ru

[2020-01-14 23:46] brianrob commented on #1092
Thanks @davidfowl.  Out of curiosity, is this on Windows? It would be super valuable if you can try this with ETW and see if you get the same results.  That would tell me if this is specific to EventPipe or if it's something agnostic on either side.

[2020-01-14 23:57] davidfowl commented on #1092
I was doing it on windows yes. I'll try ETW as well.

[2020-01-15 00:03] brianrob commented on #1092
Thanks much.

[2020-01-15 03:14] davidfowl commented on #1092
Exact same bug when using ETW and perf view to collect the trace

[2020-01-15 19:43] brianrob commented on #1092
@sywhang can you take a look at this?  This appears to be an issue in how EventSource emits TraceLogging events specifically around NULL string payloads.  @davidfowl ran the scenario using both ETW and EventPipe with the same results.  I also see the same results when opening the ETL in WPA, which implies that the issue is on the producer side.  I can point you to the traces.

[2020-01-15 19:47] davidfowl commented on #1092
That's why I pointed to this source code:

https://github.com/dotnet/extensions/blob/dbf7b645e573670da7ba9567c41ec14298573260/src/Logging/Logging.EventSource/src/LoggingEventSource.cs#L128-L142

https://github.com/dotnet/extensions/blob/dbf7b645e573670da7ba9567c41ec14298573260/src/Logging/Logging.EventSource/src/LoggingEventSource.cs#L448-L475

Looks like when the string is null, something here is

[2020-01-16 08:21] sywhang commented on #1092
I will take a look at this. Thanks

[2020-01-16 17:19] brianrob commented on #1092
Thanks @sywhang.

[2020-01-22 23:40] billwert opened #1093 "TraceProcess.Is64Bit is wrong for 32 bit processes"
The heuristic in this function looks for any loaded module above 0x100000000. Unfortunately, 32 bit processes will also have module loads above that address because of how WoW works.

FileName | ImageBase
-- | --
C:\Windows\SysWOW64\ntdll.dll | 0x77d50000
C:\Windows\System32\wow64.dll | 0x7ffebe390000
C:\Windows\System32\wow64win.dll | 0x7ffec0960000

We need to figure out a better heuristic here.

[2020-01-24 17:53] LakshanF opened #1094 "TraceProcess.Is64Bit is wrong for 64 bit .NET Core processes"
This is related to #1093 but is on the duplicated TraceProcess found at src\TraceEvent\Computers\TraceProcess.cs and its Is64Bit seems to set by looking for “framework64” in the runtimeDllPath (at TraceLoadedDotNetRuntime.SetupCallbacks). Hopefully a better heuristics (#1093 has some suggestions) should be used for coreclr processes

[2020-01-24 19:22] LakshanF opened #1095 "BPerfEventSource throws a nullreference exception"
PR #955 modified TraceEventDispatcher.GetDispatcherFromFileName to take in an additional parameter option of type TraceEventDispatcherOptions which was defaulted to null. BPerfEventSource ctor that gets called from this method does not check for a null value on the options that gets passed and throws thereby breaking existing code. The code should check for null before looking at the StartTime and

[2020-01-24 20:13] #1095 closed

[2020-01-25 00:24] ryandle opened #1097 "Enhancement: Collect FileVersionInfo for .NET processes"
I was talking with @Maoni0 who mentioned that, when traces are escalated to the .NET team, they need the file version from clr/coreclr.dll in order to know the exact source of the clr.

That's easy enough to get with code like:
[code]
So this issue is to propose an enhancement to PerfView where we would collect this information for all running processes and display it somewhere. Perhaps in the Per

[2020-01-27 10:30] amruthrajv-dev opened #1099 "System.IO.FileLoadException while calling TraceEventSession.SetFileName(filename)"
I am calling TraceEventSession.SetFileName(filename) from **multiple process** together and I am getting the below exception.

System.IO.FileLoadException : The process cannot access the file because it is being used by another process. (Exception from HRESULT: 0x80070020)
   at System.Runtime.InteropServices.Marshal.ThrowExceptionForHRInternal(Int32 errorCode, IntPtr errorInfo)
   at Microsoft.Di

[2020-01-30 14:38] bnbdr opened #1101 "EVENT_TRACE_INDEPENDENT_SESSION_MODE causes EventSource.SendManifest to silently fail for larger manifests"
https://github.com/microsoft/perfview/blob/b2f8e0ebd0434fac7e40960dc5521ce121c26a72/src/TraceEvent/TraceEventSession.cs#L2147
According to the [docs](https://docs.microsoft.com/en-us/windows/win32/etw/logging-mode-constants):

However, this behavior is also true if the event source is only enabled in a single session, causing `EventWrite` to fail silently.

This issue is triggered whenever an even

[2020-02-03 15:42] adamsitnik opened #1103 "How to open a PerfCollect trace file using TraceEvent"
I want to extend the `dotnet trace` tool with the possibility to convert trace files captured with PerfCollect to Speedscope file format. Just to be able to run perf investigation on Linux machine without copying the trace file to Windows and converting it to SpeedScope using PerfView.

I was hoping that it's going to be a matter of replacing [this](https://github.com/dotnet/diagnostics/blob/42f50

[2020-02-06 15:55] davidfowl commented on #1092
@sywhang any progress on this? I'd like to get it fixed in a patch of 3.1. Should we move it to dotnet/runtime or dotnet/aspnetcore?

[2020-02-07 03:17] brianrob commented on #1092
Yes, this should live in the dotnet/runtime repo.

[2020-02-10 18:24] sywhang commented on #1092
@davidfowl sorry I just got back from my 3-week vacation. I'll look at this some time this week.

[2020-02-12 01:23] sywhang commented on #1092
The issue here is that the `EventData` being written has size of 0 encoded for the string. This causes the entire parameter to not get copied to the buffer, and the parser (TraceEvent) tries to parse until the next null-terminated string, which just happens to be the next string (FormattedMessage).

You shouldn't be writing null strings into `WriteEventCore` directly, since string size of 0 causes

[2020-02-12 01:32] brianrob commented on #1092
Thanks @sywhang!

[2020-02-14 06:27] swift-kim commented on #996
It's hard to find the virtual address boundary between the user-kernel space programmatically. Can it be possibly passed to the TraceEvent library at runtime as an environment variable by user? (so that it can work for any platforms)

[2020-02-17 19:22] tiago-soczek commented on #951
Hello, I have the same issue:

[code]

[2020-02-18 22:00] AniAchar commented on #784
I would like to contribute. Adding a command like argument something like /maxresets is what I was thinking of. Please let me know if you have a different idea.

[2020-02-20 09:51] tmds commented on #1103
+1, it would be great if we can do perf analysis for Linux without needing a Windows machine!

[2020-02-21 03:35] felipepessoto commented on #1013
I'm afraid I won't be able to finish it. I'm focused on other projects in this moment, my apologies.

[2020-02-26 13:47] JamesLear92 commented on #928
This was driving me nuts as I thought I was doing something wrong. This still isn't fixed

[2020-02-27 09:22] JamesLear92 commented on #928
I've looked into this a little further, and I think the issue is that the RegistryKCBRundown events only occur at the end of a session and this is captured when logging to a file but since the session contains the event handlers that would process them in a live trace, the handlers are lost when the session ends.

I think.

[2020-02-28 00:43] brianrob commented on #1103
@adamsitnik, the trace format hasn't changed for LTTng, but you'll see this error if there aren't any events in the trace file.  This should safely be ignorable.

With respect to ParallelLinuxPerfScriptStackSource, I am OK if you want to move this from PerfView into TraceEvent so that you can do the SpeedScope conversion there.  If it is as simple as moving this class, then please do go ahead.  If

[2020-03-03 18:54] adamsitnik opened #1109 "perfcollect: too many arguments"
I've downloaded the latest version of PerfCollect from master and run into following problem:

[code]

![image](https://user-images.githubusercontent.com/6011991/75808956-36876600-5d88-11ea-9a5d-5f188041aa2e.png)

The produced trace file LGTM, I just wanted to report it because it might broke something that I am not using.

/cc @brianrob @ooooolivia

[2020-03-03 19:01] brianrob commented on #1109
Thanks for reporting @adamsitnik.  I can't repro this - what distro are you running on?

[2020-03-03 19:06] adamsitnik commented on #1109
@brianrob Ubuntu 18.04

[2020-03-03 19:06] brianrob commented on #1109
Let me try it there and see what I get.

[2020-03-03 19:53] brianrob commented on #1109
Hmm.. I'm not able to repro this on 18.04 either.  Would it be possible for you to uncomment the "set -x" line in the script, re-run and share the output?

[2020-03-05 13:43] JustinKaffenberger commented on #1064
@mjsabby thanks for the thorough workaround. I think I'm still hung up on the URL needed for the new Azure DevOps services, as I'm pretty sure they differ from the old VSTS URLs. This is not well documented on the Azure DevOps side of things, so I will close this issue for now.

[2020-03-05 13:43] #1064 closed

[2020-03-05 21:12] brianrob opened #1111 "Regression from MemoryMapped Streams"
After https://github.com/microsoft/perfview/pull/851 (per git bisect), some process dump files cannot be converted to heap snapshots.  The process essentially lives forever (at least a day), and consistently uses about 8% of a core.

This doesn't occur for all dumps - I have an example dump where this occurs that I can share internally.

@sharwell would you be able to take a look a this?

[2020-03-06 02:50] mjsabby commented on #1064
@JustinKaffenberger so authentication is not your problem?

`https://FIXME__YOUR__ACCOUNT.artifacts.visualstudio.com/defaultcollection/_apis/symbol/symsrv/`

is your symbol server url.

[2020-03-06 11:46] adamsitnik commented on #1103
Great! I've created #1112, it turned out to be a matter of moving 3 files.

[2020-03-07 01:04] #1103 closed

[2020-03-10 07:03] MagicAndre1981 opened #1116 "Request: Dark Mode support of Perfview"
I set Windows 10 2004 (19041) to dark mode for Shell+Apps, but Perfview is still white.

Can we get Dark mode support in Perfview?

[2020-03-10 23:32] brianrob commented on #1116
@MagicAndre1981 this is one of those things that is likely going to be left to those in the community.  If it's something that you're interested in contributing, please let me know.  I'd be interested to understand how much work is involved before the work is done just in case it is too invasive.

For now, I will put this on the backlog so that it is available should someone wish to work on this.

[2020-03-10 23:33] brianrob commented on #102
Fixed via #1117.

[2020-03-10 23:33] #102 closed

[2020-03-12 17:51] HMartyrossian opened #1121 "C# compiler should not report any warnings."
It is not a good development practice when compiler reports warnings. I created a pull request to address that issue.

[2020-03-13 16:22] billwert opened #1123 "Using PerfView/perfcollect with Linux traces"
I got a basic introduction to PerfView from @adamsitnik and I've been using it to look at ASP.NET Linux `perfcollect` traces.

I want to share some observations.

- One thing that shows up is `[unknown] (/ (deleted))` and `[unknown] ([unknown])`.
Something could not be resolved here. I'm not sure what is the root cause.

`[unknown]` also shows up for .NET assemblies, for example (from `perf.data.t

[2020-03-13 17:17] brianrob commented on #1123
@tmds, there are a few things here, so I'll try to make sure I get to all of them.

[unknown] (unknown) is perf reporting that it doesn't know how to resolve symbols for this frame because it can't resolve the module that it corresponds to.  This could be a number of issues, but most likely isn't managed code related.

[unknown] (../System.Collections.Concurrent.dll) is because System.Collections.

[2020-03-16 12:27] tmds commented on #1123
@brianrob besides being unable to resolve symbol names, there are also cases where the stack traces are not as deep as expected. There are missing frames.

For example, for the `epoll_wait`, a stack that shows up in `perf.data.txt` looks like this:
[code]
When `epoll_wait` is called, one of it's parent frames should be the managed `EPollAsyncEngine+EPollThread::EventLoop` method. It doesn't show u

[2020-03-16 21:02] antonfirsov opened #1126 "PerfView SpeedScope export: ArgumentException when exporting a Linux kernel thread"
When exporting traces from a kernel thread thread `io_wqe_worker-1` to SpeedScope json:
![image](https://user-images.githubusercontent.com/6835152/76774129-d17a3a00-67a3-11ea-8fb2-2ff0f7048d1b.png)

I'm encountering the following error:
https://gist.github.com/antonfirsov/3063e42a453f5ef5f7553f26ccbb452f

**Steps to reproduce:**
Use `IoUringTransport-RPS-523K.trace.zip` from here:
https://microsof

[2020-03-16 21:32] adamsitnik commented on #1126
@antonfirsov could you please try to repo it with the latest version: https://github.com/microsoft/perfview/releases/tag/P2.0.50 ?

[2020-03-16 22:24] antonfirsov commented on #1126
Seems to be fixed in the new version, sorry for not noticing it.

[2020-03-16 22:24] #1126 closed

[2020-03-17 10:13] adamsitnik commented on #1001
Hi @Thomas-S-B

With the most recent changes, you should not be getting this error anymore.

Could you please use latest PerfView from https://github.com/microsoft/perfview/releases/tag/P2.0.50 and give it a try?

[2020-03-17 10:15] adamsitnik commented on #1126
@antonfirsov no problem, I am glad that it works now!

[2020-03-17 15:20] Kicsu opened #1127 "Could not install Http Module to GAC - ManagedHttpModuleHelper.dll"
Hi!

I just started to use AppInisghts and I have a problem with the installation.
I've got the following issue while tried to enable AppInsights:

[code]

Can you please help me solve this?

thanx,
Kicsu

[2020-03-17 15:25] brianrob commented on #1127
Hi @Kicsu.  You will want to file this issue in the ApplicationInsights-Home repo here: https://github.com/microsoft/ApplicationInsights-Home.

The PerfView repo is for the PerfView and TraceEvent tools.  Thank you.

[2020-03-17 15:25] #1127 closed

[2020-03-17 15:37] brianrob commented on #1123
@tmds, the missing stack frames is a thing that happens sometimes.  It most often occurs when libraries are compiled without frame pointers.  In the case of perfcollect, we tell perf to collect stacks by walking frame pointers (this is the perf default).  Addresses that show up in `perf.data.txt` are most often virtual addresses within the process (think instruction pointer).  In older versions of

[2020-03-18 05:06] HMartyrossian commented on #1121
Resolved with pull request #1125

[2020-03-18 05:06] #1121 closed

[2020-03-18 05:24] HMartyrossian opened #1128 "Switching from fields to properties will make code clean and might increase performance."
Implementing a property instead of field will make code more maintainable and might increase performance. Please see:
https://stackoverflow.com/questions/9842917/field-vs-property-optimisation-of-performance

[2020-03-18 14:57] tmds opened #1130 "perfcollect on Fedora/RHEL8"
@brianrob I'm trying to run `perfcollect` on Fedora.

It is trying to install some dependencies:
https://github.com/microsoft/perfview/blob/cb1943b8ded584e136e140746e5771ca63668c5a/src/perfcollect/perfcollect#L987

The source of packages is an external repository meant for RHEL7: https://packages.efficios.com/repo.files/EfficiOS-RHEL7-x86-64.repo.

On Fedora, I get an error `kmod-lttng-modules` is

[2020-03-18 15:15] omajid commented on #1130
Can `perfcollect` extract the same information from different tools? Could this information be extracted using `systemtap` (which can read lttng markers) and/or `perf`, both of which can also do kernel tracing without unsupported (on Fedora/RHEL) kernel modules.

[2020-03-18 15:32] brianrob commented on #1128
@HMartyrossian this is not the kind of change that we want to take across the product.  This would introduce a lot of churn for minimal if any impact.

From a performance perspective, fields and simple get properties have essentially the same performance as the JIT will inline simple properties.

I am going to go ahead and close this issue.

[2020-03-18 15:32] #1128 closed

[2020-03-18 16:45] Thomas-S-B commented on #1001
Hello @adamsitnik,

it works like a charm – thank you very much.
Adam: Great work!

Cheers
Thomas

[2020-03-18 16:46] Thomas-S-B commented on #1001
Hello @adamsitnik,

it works like a charm – thank you very much.
Adam: Great work!

Cheers
Thomas

[2020-03-18 16:46] #1001 closed

[2020-03-18 16:55] adamsitnik commented on #1001
@Thomas-S-B thank you!

btw you might want to give a try to chromium trace file format which we have added recently: https://github.com/microsoft/perfview/pull/1113

[2020-03-18 17:13] Thomas-S-B commented on #1001
Ok i will try it perhaps tomorrow.
Once again: Great work, i like Perfview very much and use it really often.

[2020-03-18 18:22] HMartyrossian commented on #698
Brain, can we close this issue?

[2020-03-18 18:42] HMartyrossian commented on #135
@ppozeti
Paulo, I'm assuming that you will address this issue for Windows only, right?

[2020-03-18 19:22] brianrob commented on #698
Fixed via #1125.

[2020-03-18 19:22] #698 closed

[2020-03-18 21:23] brianrob opened #1132 "Enable perfcollect install in Azure Ubuntu Environments"
Azure kernel releases are of the form <version>-azure.
Perf is installed as linux-azure-tools-<version>.

[2020-03-19 00:07] brianrob commented on #1132
Fixed via #1133.

[2020-03-19 00:07] #1132 closed

[2020-03-19 15:44] brianrob commented on #1130
@tmds, perfcollect can collect useful data using either `perf`, `LTTng`, or both.  Today, `perfcollect` install will attempt to install both, but I do think it's reasonable to modify the logic to check to see if the packages exist, and if not, to emit a warning (presumably at the end of installation), telling the user what was installed and what was not.  I'm thinking an "installation summary".  I

[2020-03-19 15:49] tmds commented on #1130
I'll look into it, you can assign this issue to me.

[2020-03-19 15:51] brianrob commented on #1130
Sounds great.  Thanks!

[2020-03-23 08:53] MagicAndre1981 commented on #1116
@brianrob I have no idea, as I don't use WPF that much and [Perfview is doing things about UI a bit differently compared to normal WPF applications](https://github.com/microsoft/perfview/blob/b67a385079948d347f42d089670832efaaae46d3/src/PerfView/App.cs#L23), so I have no idea how large the amount of work would be to support themes.

[2020-03-29 04:10] AmrutaMoghe opened #1140 "Perfview doesn’t read Linux .nettrace collected from linux container"
I ran dotnet-trace in linux container, moved it to host from container , host is windows machine. The .nettrace file is not being recognized by perfview

[2020-03-31 00:26] brianrob commented on #1140
@AmrutaMoghe can you provide a bit more information on this?  Does PerfView not display the file at all, such that you can't open it, or does it show up but give you an error when you open it?

Can you by chance share the file?

[2020-03-31 14:34] AmrutaMoghe commented on #1140
Perfview doesnot display the file.
Can you tell me how can I troubleshoot?

[2020-03-31 15:26] brianrob commented on #1140
If you're not seeing the file at all, then it's likely one of two issues:
1. The directory at the top left in the main PerfView window is incorrect.
2. The file extension has a typo in it.

PerfView simply looks for "*.nettrace" files and then displays them so that you can double click on them to open.

[2020-04-02 08:07] TJClifton90 commented on #1140
I can confirm that this is not working for me either.

I took a trace from a Linux machine which generated a .nettrace file. The file is not listed in the directory view in Perf View (I even tried moving it to different directories) and attempting to type in the directory resulted in the following error in the tray at the bottom of Perf View:

`Error: Could not determine data Template from the fil

[2020-04-02 08:15] TJClifton90 commented on #1140
Apologies, my previous comment was incorrect somehow I was running an old version of PerfView (I thought I had downloaded 2.0.52 but must have opened some other version). Running on 2.0.52 allowed me to view the trace as expected. It might be worth the OP double checking he hasn't made a similar mistake.

[2020-04-02 15:11] CurtHagenlocher opened #1142 "msdia140.dll does not have CFG enabled"
The version of msdia140.dll in Microsoft.Diagnostics.Tracing.TraceEvent.SupportFiles does not have CFG enabled.

[2020-04-02 15:36] brianrob commented on #1140
Yes, @TJClifton90, you have a good point - please do check to make sure you're running the latest version of PerfView.  .nettrace files are relatively new and so there will be lots of old versions of PerfView that don't recognize them.

[2020-04-07 02:52] VSadov opened #1146 "[PerfView][Pinned Object Heap] Add support for Pinned Object Heap data in ETW events"
Once https://github.com/dotnet/runtime/pull/34549 is merged, GC will start reporting additional information regarding Pinned Object Heap.

The new data is added in a backwards compatible way, so the change is not breaking.

However to fully support ingestion of the new data, PerfView needs to add support for additional fields. (see: https://github.com/dotnet/runtime/pull/34549 for details)

[2020-04-07 15:34] brianrob commented on #1142
Closing this for now as msdia140.dll isn't currently built with CFG.

[2020-04-07 15:34] #1142 closed

[2020-04-07 23:59] brianrob commented on #1146
@VSadov, thanks for filing this issue.  Are you planning to submit a PR as part of this effort?

[2020-04-08 00:10] VSadov commented on #1146
Yes, you can assign this to me.

[2020-04-11 14:57] hwmland opened #1153 "ActivityID is displayed as GUID"
I created small example for Activity. My problem is that ActivityID is displayed as GUID, not as nice 'path' like //1/3 Activity itself works - duration is calculated correctly even for nested activities.
Am I doing something wrong or behavior was changed?

PerfView version 2.0.54 (both 32b and 64b)
Test app: testet on .NET framework 4.6 and 4.7.2, both 32b and 64b
Thanks

[2020-04-13 15:03] brianrob commented on #1153
@hwmland, which view are you looking at in PerfView where you see the ID as a GUID?  Also, can you share the code that you're using to create the Activity?

[2020-04-14 11:28] hwmland commented on #1153
Hello Brian,
that is really bizzare. I'm not able to reproduce it anymore.
I created very simple example (with 2 start/stop task pairs) and the same simple test application (just creation of some task inside another task and some CPU consumming loops). GUID was displayed in ActivityID column in events view. I make several tests, try to search internet - no success, so I reported this issue and let

[2020-04-14 11:28] #1153 closed

[2020-04-14 23:47] brianrob commented on #1153
No idea, but glad it works now.

[2020-04-16 19:21] PurnaChandraPanda opened #1157 "How is to invoke TraceParserGen to generate .cs file for providers in .NET Core?"
I cloned the repo, and compiled to generate TraceParserGen.exe. However, I am not getting an example how to get auto-generated .cs file for a provider in .NET Core.

For example, the [doc](https://github.com/andy-ms/runtime/blob/master/docs/libraries/debugging/windows-instructions.md#systemnet-namespaces) explains a bunch of providers. Out of which, I am looking to generate .cs for provider *Micro

[2020-04-17 03:54] brianrob commented on #1157
The provider `Microsoft-System-Net-Http` is implemented as an `EventSource`, so in order to produce a C# parser, you will want to point `traceparsergen.exe` at the dll that contains the `EventSource`.  Something like:

[code]

I'm not sure which dll contains the `EventSource` implementation, but that's the one you'll want to target with this.  Also, FWIW, you should not need to do this, though it

[2020-04-17 04:51] PurnaChandraPanda commented on #1157
@brianrob
Thank you for the response! Do we have any example how `DynamicTraceEventParser` can be leveraged? I could find the source of it, but not any example. Could you please help?

[2020-04-17 15:38] brianrob commented on #1157
Here's a bit of documentation on how it works: https://github.com/microsoft/perfview/blob/master/documentation/TraceEvent/TraceEventProgrammersGuide.md#static-vs-dynamic-traceeventparser-parsers

Basically, you get a `TraceEvent` instance in your callback, and you can use the available properties to figure out if it's the event you want (e.g. provider, event name, etc.) and then get the fields by

[2020-04-17 15:46] dennisjlee commented on #799
I'd like to contribute a fix for this, though I can't assign the issue to myself. Hopefully I'll be able to send a pull request soon.

[2020-04-17 15:56] brianrob commented on #799
Thanks @dennisjlee.  I'll assign this issue to you.

[2020-04-20 14:07] tmds opened #1160 "Capturing EventSource with perfcollect"
@brianrob in https://github.com/tmds/Tmds.LinuxAsync/issues/53#issuecomment-596023594 you commented:

What should we do to include events from a specific source when using `perfcollect`?

cc @antonfirsov @adamsitnik

[2020-04-20 15:12] tmds commented on #1130
@brianrob what is the role of `lttng` in `perfcollect`?

It is used to configure the events that get published? I guess `EventPipe` could be used for that also?
Does it provide stack trace info with the events? I guess sample stack traces come from `perf`, and not `lttng`?
`kmod-lttng-modules` is for events coming from Linux kernel? And the kernel stack info that is found in the trace.zip file als

[2020-04-20 23:06] mpolicki opened #1162 "NullReferenceException when accessing ProcessTraceData properties"
### The problem
I know the documentation says that event data objects are aggressively reused and to only access them immediately in their event handlers. However, I wasn't aware of that when I got a confusing `NullReferenceException` while trying to access a value-type property on a non-null `ProcessTraceData` object in code like the following:
[code]
The access to `data.ProcessID` throws the exc

[2020-04-21 21:09] brianrob commented on #1160
It turns out that there wasn't a great way to get `EventSource` events into a trace file, so I just pushed #1163 to fix this.

You can run `./perfcollect collect <traceName> -events EventSource`

This will enable all EventSources.  You can then filter them by telling the runtime which ones you want.  There are two COMPlus variables for this.
 See https://github.com/dotnet/runtime/blob/70bfd2ac9b84

[2020-04-21 21:13] brianrob commented on #1162
@mpolicki unfortunately, this isn't something that's easily done.  The issue is that things are re-used, and so there's not a clear opportunity to detect improper use.  We could likely do some of this, but it would be very incomplete, and probably not worthwhile overall.

I appreciate you reporting this, but I suspect the documentation will need to be good enough.

[2020-04-21 21:13] #1162 closed

[2020-04-21 21:27] brianrob commented on #1130
@tmds, you're right that `lttng` captures events that are published by the runtime and `EventSources`.  There are no stacks collected as of yet - `lttng` only supports stack traces on kernelspace events at this time to my knowledge.  `kmod-lttng-modules` is for capturing kernel space events.  All of the stacks that are captured come from `perf`.

[2020-04-21 21:27] brianrob commented on #1130
@tmds, you're right that `lttng` captures events that are published by the runtime and `EventSources`.  There are no stacks collected as of yet - `lttng` only supports stack traces on kernelspace events at this time to my knowledge.  `kmod-lttng-modules` is for capturing kernel space events.  All of the stacks that are captured come from `perf`.

[2020-04-21 21:37] #1025 closed

[2020-04-22 10:06] adamsitnik commented on #1160
@brianrob this is great!

@sebastienros could you please update the perfcollect used by aspnet machines?

[2020-04-22 10:08] tmds commented on #1160
@brianrob thanks!

[2020-04-22 10:08] #1160 closed

[2020-04-23 11:30] tmds commented on #1130
@brianrob
We care about being able to provide packages that support performance tracing .NET as part of base RHEL. Since lttng packages are missing, we could use EventPipe to configure the session. I don't know if we could configure EventPipe from the `perfcollect` script. Probably it would be a better match to add this to the `dotnet trace` tool? Does that make sense? Is it something you have con

[2020-04-27 17:50] dennisjlee commented on #799
@brianrob or anyone else, friendly ping on this - could anyone help me review my PR please?

[2020-04-27 22:41] #799 closed

[2020-04-28 18:27] dennisjlee commented on #799
@brianrob thank you! How does the release schedule work for PerfView?

[2020-04-28 20:18] brianrob commented on #799
PerfView releases are on-demand.  I try to do at least one per month just to make sure changes don't sit for too long.  The last one was on 3/8.  Is this something that you're in need of?  I can trigger one soon if needed, or otherwise, will get to it in the next few weeks.

[2020-04-28 22:35] dennisjlee commented on #799
This feature would be a nice-to-have for some of my team's production
monitoring needs, be so if it's not too much trouble we would appreciate a
release sooner rather than later. Thanks so much Brian!

On Tue, Apr 28, 2020, 4:19 PM Brian Robbins <notifications@github.com>
wrote:

[2020-04-29 09:50] noahfalk opened #1164 "Consider making a async variation of TraceSource.Process() for better performance"
https://github.com/dotnet/diagnostics/pull/1073#discussion_r417074440

[2020-04-29 19:45] brianrob commented on #799
This has been released and is available here: https://github.com/microsoft/perfview/releases/tag/P2.0.55.  Thanks!

[2020-05-01 16:13] aaronhudon opened #1165 "TraceEvent.EventName missing when OpCode assigned to event"
Using `Microsoft.Diagnostics.Tracing.TraceEvent` 2.0.55 with .NET Core 3.1.201

When an eventsource event is assigned an OpCode (e.g. Start, Stop), then the event reaches the `TraceEventSession`, the `TraceEvent` object's `EventName` is missing.

This seems to be resolved by simply removing the Start/Stop OpCodes and applying the magic "Start" and "Stop" suffice to the event source method names...

[2020-05-01 23:45] brianrob commented on #1165
@aaronhudon how are you collecting the trace where this occurs?  Is this, ETW or `dotnet-trace`?

[2020-05-04 17:09] aaronhudon commented on #1165
@brianrob Hi Brian, I'm collecting through a .net core 3.1 application using Using Microsoft.Diagnostics.Tracing.TraceEvent
I guess you could call this ETW

[2020-05-06 03:20] docjay opened #1166 "Insufficient system resources exist to complete requested service"
When trying to register a provider in my own project using Microsoft.Diagnostics.Tracing.Session.TraceEventSession.EnableProvider from the Microsoft.Diagnostics.Tracing.TraceEvent nuget package, I get the following exception.  The only way I've found to work around it is by restarting my computer.  And after restart, I eventually hit the error again.  (e.g. restart machine, wait a few days because

[2020-05-06 18:27] ktmaul commented on #166
I'm experiencing the same issue as @sandeeprawat and @Anteru with the same stack trace. Trace originates from a kubernetes pod and all the data seems intact when viewed using perfcollect.

[2020-05-06 20:18] brianrob commented on #1165
@aaronhudon, thanks for reporting this.  I was able to reproduce the behavior you're seeing with this test case:

[code]

From some testing, this appears to be an issue specific to `EventSource`.  Opening the trace in `PerfView` and `WPA` yields the same result.

WPA:
![image](https://user-images.githubusercontent.com/6210322/81223743-5c550500-8f9b-11ea-8202-f81aaf0f6769.png)

PerfView:
![image](h

[2020-05-06 20:20] sywhang commented on #1165
@brianrob I'll take a look at it today. Thanks

[2020-05-06 21:02] brianrob commented on #1166
@docjay, based on what you're saying, it sounds like you might have a session leak, meaning that enough sessions are being created that you're unable to create another.

When you hit this error, can you try running `logman query -ets` and see how many sessions are active?  Then, reboot and run the command again.  You can compare the output and see which/how many additional sessions are present whe

[2020-05-08 23:35] bozila commented on #1048
I have the same issue. .netcore 2.2.8 in kubernetes linux pod. perfview version is 2.0.55.

[2020-05-08 23:42] bozila opened #1167 "perfview can't open trace collected by perfcollect from linux. FormatException"
perfview version 2.0.55.
.netcore 2.2.8.
collected perf on linux 16.04.
getting following error when opening the trace in perfview:
Exception Occurred: System.AggregateException: One or more errors occurred. ---> System.FormatException: Input string was not in a correct format.
   at System.Number.ParseDouble(String value, NumberStyles options, NumberFormatInfo numfmt)
   at Microsoft.Diagnostics.

[2020-05-10 00:18] Maoni0 opened #1168 "PerfView should inform the user the # of lost events for .nettrace traces"
we should display the # of lost events for .nettrace files like we do with ETW traces. I have a trace with some very suspicious GCStats and it was due to lost events (it has 3 millions events with 15 million lost events based on the EventsLost from event pipe. happy to share the trace if you need.

also CC @noahfalk who helped me look at the lost events.

[2020-05-10 00:42] brianrob commented on #1168
Please do share the trace. Happy to make this improvement.

[2020-05-10 00:46] Maoni0 commented on #1168
done!

[2020-05-11 16:31] SoibamRepo opened #1169 "How to retrieve header EVENT_TRACE values from data which is of type TraceEvent class"

[2020-05-11 16:41] SoibamRepo commented on #1169
Referring to one of TraceEventSamples, 31_KernalAndClrFile.cs, there is callback function Print(TraceEvent data) which print events in String format. The input parameter is "data" which is of type TraceEvent class.

My query is as below:

How do I retrieve header values which is in structure EVENT_RECORD from "data" of type TraceEvent

internal struct EVENT_RECORD
{
            public EVENT_HEADER

[2020-05-11 21:35] #1168 closed

[2020-05-11 22:07] brianrob commented on #1169
It is not possible to get at all of these fields directly as `TraceEvent` attempts to make these events more consumable in managed code.

Much of this data can be retrieved through properties of the `TraceEvent` class.  Please take a look at https://github.com/microsoft/perfview/blob/master/src/TraceEvent/TraceEvent.cs#L551 for details.

[2020-05-12 18:26] rhousedorf opened #1171 "tutorial issues"
Hi folks, just having a problem very early on here.

In the tutorial, right in the very first section, #4
It starts with:
At this point it will begin running the command.
yup.
Same paragraph, it says "After it has completed it brings up a process selection dialog box. "
nope.

Is it supposed to still bring up a process selection box?  I've tried to run this tutorial on win 7 & on win 10, both 64 b

[2020-05-12 20:34] brianrob commented on #1171
@rhousedorf, this may be point-in-time issue where the documentation didn't get updated.  Either way, now that you have the zip open in PerfView, you'll want to double click on "CPU Stacks".  That should bring up the process seleection dialog box as teh doc states.  Hopefully that unblocks you.

I'd be interested to know if you run into any more of these issues.  The problem with this sort of docu

[2020-05-12 20:54] brianrob commented on #1167
@bozilla, thanks for reporting this.  Is it possible to share a link that doesn't require an account to download?

[2020-05-12 23:22] sywhang opened #1172 "EventPipeEventSource constructor blocks until the first event is read"
Moving https://github.com/dotnet/diagnostics/issues/1060 to here because this repo is a better place to keep track of this issue:

From @davmason:

If you follow the sample code on how to use EventPipeEventSource but replace the provider with a provider that doesn't produce any events, it will block forever in the constructor to EventPipeEventSource.
[code]
It will block on this line: https://gith

[2020-05-14 18:33] kripergvg opened #1174 "ArgumentOutOfRangeException while listening with TraceEvent"
I don't have reproducible example but sometimes our process crashes while listening to diagnostic events with TraceEvent library
Stacktrace
![image](https://user-images.githubusercontent.com/7288803/81971867-7097a280-962a-11ea-8df5-d2c294c5cfad.png)

Microsoft.Diagnostics.NETCore.Client Version="0.2.61701"
Microsoft.Diagnostics.Tracing.TraceEvent Version="2.0.47"
.NET Core 3.1

[2020-05-14 19:27] brianrob commented on #1174
@noahfalk, can you please take a look?

[2020-05-15 07:49] noahfalk commented on #1174
@kripergvg sorry you are running into this issue! Could you check to see if this problem repros on a newer build of TraceEvent? There is at least one bug that was [fixed](https://github.com/microsoft/perfview/pull/1047) in the StreamReader after 2.0.47 that might be causing the failure you are seeing.

If that doesn't resolve it, we'd need to gather some more info to investigate productively. In l

[2020-05-15 07:56] kripergvg commented on #1174
@noahfalk I am going to update the package if it won't help I will get a dump. Thank you.

[2020-05-22 06:21] SoibamRepo commented on #1169
could we typecase class "TraceEvent"  to another class SampledProfileTraceData or StackWalkStackTraceData.

in below sample examples referred from code "32_KernelAndClrFile.cs", it takes 1 argument of type TraceEvent.
static void Print(TraceEvent data)
        {
              out.Writeline (data.ToString());
       }
Inside Print function, we want to access fields/method of class StackWalkStackTra

[2020-05-23 01:50] SoibamRepo commented on #1169
the  issue is resolved.

[2020-05-23 01:50] #1169 closed

[2020-05-23 22:30] jlfwong opened #1178 "Export to speedscope sometimes has asymmetrical open/close frame event sequencing"
Hi! I received a bug report to speedscope (https://github.com/jlfwong/speedscope/issues/272) which I'm fairly sure is caused by the event sequencing of the speedscope export of nettrace being incorrect. There's more in-depth discussion of the problem and relevant files in that issue.

If someone does plan on patching this issue, it would also be helpful to update this line:

https://github.com/mic

[2020-05-25 05:46] swift-kim commented on #1178
It seems the problem is with sample aggregation in `GetAggregatedOrderedProfileEvents()`. To be more specific, it's kind of precision error in time computation. It is normally expected that:

[code]

but we have cases like (notice the subtle error 0.000000033943):

[code]

As a quick fix, I reduced every Metric's size by 0.0000001 and it worked like a magic. I don't know why RelativeTime and Metri

[2020-05-25 07:27] swift-kim commented on #1178
@adamsitnik Another related issue with the sample aggregation is broken callstacks observed from Xamarin.Forms' recursive renderer creation. Even with the above quick fix, the resulting speedscope profile looks like:

![image](https://user-images.githubusercontent.com/40190588/82787239-f7594480-9ea0-11ea-953b-2419e7aff099.png)

However if sample aggregation is disabled, the callstacks are ordered

[2020-05-26 08:13] SoibamRepo opened #1179 "How to access next events in TraceEvents ?"
@brianrob

Hello,
Referring to sample "TraceEventSamples",  below codes get to display events sequentially in string format

private static void Print(TraceEvent data)
        {
            // There are a lot of data collection start on entry that I don't want to see (but often they are quite handy
            if (data.Opcode == TraceEventOpcode.DataCollectionStart || data.Opcode == TraceEventOpco

[2020-05-27 10:35] adamsitnik commented on #1178
@jlfwong first of all: thank you for the amazing speedscope app!

I've sent a PR that adds the necessary information: https://github.com/microsoft/perfview/pull/1181

I should have included this from the beginning, it would avoid the following question: @swift-kim which version of PerfView|dotnet trace are you using? I've downloaded the trace file that you have provided in https://github.com/jlfwo

[2020-05-27 11:44] swift-kim commented on #1178
@adamsitnik Thanks for the response and also your great work on the speedscope exporter.

I was using the latest release of dotnet-trace (3.1.120604) so probably I was using TraceEvent 2.0.51 which already includes your patch AFAIK.

I didn't use PerfView to export to the speedscope format but used the `dotnet trace convert --format Speedscope` command to convert it.

I'm not quite sure how you ob

[2020-05-27 19:12] brianrob commented on #1178
Looks like this got auto-closed based on #1181.  @adamsitnik can you please take a look at the rest of the issue as well?

[2020-05-27 19:36] brianrob commented on #1179
Generally, the pattern that you'll want to use is to register callbacks, such as the `Print` method that you specified above.  Once you've registered callbacks for specific types of events, or just used the `TraceEventDispatcher.All` API to get a callback for every event, just call `TraceEventDispatcher.Process()` and this will cause the dispatcher to iterate through all events and execute any cal

[2020-05-28 11:27] mclillill opened #1183 "PerfView 2.0.56 does not start"
This is the errors I see:
[code]

[code]

[2020-05-28 11:34] mclillill commented on #1183
Update: This happened because I only downloaded PerfView64.exe. I feel it might be better to provide the releases as a zip-file because this might confuse others as well?

[2020-06-01 05:55] SoibamRepo commented on #1179
Thanks @brianrob . your anser gives pointers which I am looking for .. Close this issue

[2020-06-01 05:55] #1179 closed

[2020-06-02 20:50] adamsitnik commented on #1178
Now the issue can be closed. Once again thank you @swift-kim and @jlfwong !

[2020-06-02 23:45] suprak opened #1187 "[TraceEvent] IndexOutOfRangeException - SymbolReader.FindSymbolFilePathForModule"
A partner reported the following exception,

[code]

In our use of `SymbolReader` we construct it with `new SymbolReader(this.logStream, SymbolPath.SymbolPathFromEnvironment);`. However `this.logStream` is not used in our code except on dispose (to dispose).

Also calls to `SymbolReader.FindSymbolFilePathForModule` are single threaded.

[2020-06-02 23:53] brianrob commented on #1187
@suprak, are you able to reproduce this, or do you have a process dump that you can share of this?  We'll likely need one of these to diagnose this issue.

[2020-06-03 20:49] mcgrews3 opened #1188 "EnableKernelProvider keyword NetworkTCPIP can get real-time data but no data saved to etl file"
When creating a TraceEventSession to save to file and using the **NetworkTCPIP** KernelTraceEventParser Keyword - I do not get any network data in the resulting ETL file.

[code]

However, when I do "real-time" tracing, I get data returned.

[code]

[2020-06-04 07:35] swift-kim commented on #1178
@adamsitnik Ugh. I got another sample trace from one of our developers which unfortunately broke speedscope 1.6.0 again.

In short, it seems the magic number 1.2 is too large for general cases.

In the trace, the following two samples of the same frame number (237) are not continuous, because there are actually two other samples between the two samples. However, they pass the magic number test bec

[2020-06-05 02:54] sywhang opened #1190 "Opening nettrace files does not show correct process names"
Initially posted by @davidmikh here: https://github.com/dotnet/diagnostics/issues/1191

TraceEvent cannot read process names from EventPipe traces. I'm pretty sure this is because right now it relies on reading kernel events to get the process name and EventPipe traces don't have them.

To fix this, we can use the EventPipe/ProcessInfo event to grab the command used to run the process. It is proba

[2020-06-05 02:54] sywhang commented on #1190
Adding this would be trivial so I would be happy to submit a PR to fix this issue when I have cycles after runtime release snap.

[2020-06-06 09:24] liguobao opened #1194 "Build PerfViewJS on linux fail"
➜  PerfViewJS git:(master) dotnet run
/home/liguobao/.nuget/packages/microsoft.build.tasks.git/1.0.0-beta-63127-02/build/Microsoft.Build.Tasks.Git.targets(20,5): error MSB4018: The "Microsoft.Build.Tasks.Git.LocateRepository" task failed unexpectedly. [/home/liguobao/code/github/perfview/src/FastSerialization/FastSerialization.csproj]
/home/liguobao/.nuget/packages/microsoft.build.tasks.git/1.0.0-

[2020-06-07 14:26] raffaeler opened #1195 "Generating typed client for EventSource (.NET Core)"
I created a custom `EventSource` class exposinga single `EventCounter`. It works and I can use it by dynamically parsing the content on the client side.

Now I tried to create a typed client with different strategies, but all of them failed:
* Creating the manifest and later possibly using TraceParserGen
[code]
This method fails with the following Exception:
[code]

* Using TraceParserGen tool on

[2020-06-07 19:30] suprak commented on #1187
Provided @brianrob a repro internally.
Recommendation is to wrap the `TextWriter` we provide with one that implements explicit locking.

However it would be good to see this land as a fix in TraceEvent it self, since the usage of the log writer in `SymbolReader` is not safe (likely due to ngen pdb process launch creation logic).

[2020-06-08 08:11] Hammarskjold opened #1197 "ConnId for TcpIpTraceData is always 0"
When using TcpIpTraceData from Microsoft.Diagnostics.Tracing.Parsers.Kernel the actual message contains data just fine, but the connId property is always 0. I haven't had time to dig into the reason why this is the case.

[2020-06-08 08:58] Hammarskjold commented on #1197
Starting to get a feeling this happens deep down as a regular ETW capture with logman has the same issue: https://stackoverflow.com/questions/48844533/etw-connid-in-network-events-always-zero

[2020-06-08 17:23] brianrob commented on #1187
@suprak, I have posted #1198 to fix this.  Note that it will help for uses within `SymbolReader`, but doesn't solve the problem for any uses of the input stream by the caller.

[2020-06-08 17:24] suprak commented on #1187
@brianrob makes sense, thank you for the quick turn around!

[2020-06-08 18:25] #1187 closed

[2020-06-08 19:58] suprak opened #1199 "[TraceEvent] Microsoft.Diagnostics.Tracing.Etlx.TraceCallStacks+CallStackInfo[] - High memory usage"
We've noticed that ever since update to the latest version of TraceEvent (from a much older one), we have been seeing much higher memory of TraceEvent. Mostly related to symbol resolution.

For instance from a dump (I can share internally),

[code]

That's 22million and 16milion entries per array.

Any plans or ideas on how TraceEvent memory usage can be improved?
We rely on TraceEvent as part of

[2020-06-10 01:54] ryandle opened #1200 "/GCCollectOnly captures CLR exception events"
I've been using /GCCollectOnly a lot recently and had issues with my buffer (2GB) filling up fairly quickly (a little over an hour.) I can of course make the buffer larger, but I was curious why it was happening because the GC events themselves are not very large.

It turns out, for the apps I'm profiling, these CLR exception events make up 92% of the total size:

I believe this is because GCColle

[2020-06-10 05:45] Maoni0 commented on #1200
I'm totally ok with it.

[2020-06-12 00:06] brianrob commented on #1199
@suprak, do can you tell me which versions you're referring to here?  I suspect this might be caused by #1136.

[2020-06-12 04:50] suprak commented on #1199
Sorry, should have mentioned that in my original post,

`<PackageReference Include="Microsoft.Diagnostics.Tracing.TraceEvent" Version="2.0.49" />`

[2020-06-12 18:08] brianrob commented on #1199
No worries.  Is 2.0.49 the new version that you're running or is that the old version?

[2020-06-12 20:27] suprak commented on #1199
We upgraded from `2.0.2` back in February.
So `2.0.49` is what we are using currently.

[2020-06-13 16:08] mcgrews3 commented on #1188
I did make some progress on this.  It would be great if a handler could be implemented to match the real-time processing - it's not necessarily intuitive how one would pull the information from an `etl` trace file.  My intent was to trace an application and see if it what was waiting on network - that network traffic was the cause of variability in the application startup times.  Here is what I am

[2020-06-13 16:10] mcgrews3 commented on #1188
As I have a solution, feel free to close.  I will leave open in the hopes someone sees this and can disposition for possibly...

* updating documentation on Network tracing
* implementing/fixing the `TcpIpRecv` and  `TcpIpSend` handlers for trace file parsing

Thanks!

[2020-06-14 18:42] xiaomi7732 opened #1207 "TraceLog.Dispose() can't be called a second time"
It looks like the 2nd call on `FastSerializtion.Deserializer.Dispose()` is throwing. This is discourage to write code to dispose aggressively. Is it possible to make it can be called multiple times without throwing?

![image](https://user-images.githubusercontent.com/3674549/84601296-ef534b80-ae33-11ea-94dd-b50ab26b19b4.png)

Repo:
[code]

Callstack:

[code]

[2020-06-15 02:31] davkean opened #1208 "PerfView timeout for download symbols is too short for slow connections"
This one bit me today, but realized that I'd run into this a bunch in the past but just worked out what caused it.

The timeout for getting a response for the server is limited to 10 seconds (or 25 seconds for \\\\symbols): https://github.com/microsoft/perfview/blob/d95dcb035da64f40920a41cabb850a4f5c19cb9a/src/TraceEvent/Symbols/SymbolReader.cs#L1124. This too short for my connection to the intern

[2020-06-15 03:40] brianrob commented on #1208
@davkean, I'm not sure why this custom logic is here, at least for symbol servers, where HttpWebRequest timeouts should kick in.  There is also a path for copying via `CopyStreamToFile`, so I'm guessing that this code has more value there.  From a quick look, it appears that the timeout should not impact you once the logic believes that the request is alive.  Is this issue you're seeing that this

[2020-06-15 03:43] davkean commented on #1208
Yes, I assume that its still waiting for a response. I live in Australia and my connect to the internal symbol server is pretty bad. I manually downloaded the symbols no problem.

[2020-06-15 03:47] brianrob commented on #1208
Seems reasonable to depend on HttpWebRequest, at least for the case that uses it. If you want to make a PR for this, I’d be happy to accept it. If not, no worries, and I’ll take care of it. How much is this impacting you (priority-wise)?

[2020-06-15 03:49] brianrob commented on #1200
Fixed via #1201.

[2020-06-15 03:49] #1200 closed

[2020-06-15 03:50] davkean commented on #1208
I can take a look. It looks like its from TraceEvent, can I just modify that code directly in this repostory?

[2020-06-15 03:53] brianrob commented on #1208
Yes, this repo is the authoritative source for TraceEvent as well.

[2020-06-15 23:48] vasek-cz opened #1209 "TMF file parsing"
I figured out the TMF file parsing is overly simplified and doesn't support some more complex structures used for example in MSDTC (`C:\WINDOWS\system32\MsDtc\Trace\msdtctr.mof`). The parser understand only one `#typev` per file, but there were still issues loading this TMF with the parser:
- datetime type was not supported
- parsing regular expressions were very strict with respect to whitespace

[2020-06-16 15:27] baal2000 commented on #1167
Had the same issue in .net core 3 on a linux machine running processes inside and outside docker containers. Perfcollect trace was taken outside of the container per https://gitee.com/git_Epxeon/coreclr/raw/master/Documentation/project-docs/linux-performance-tracing.md.

The error while opening CPU traces in perfview:
[code]

Tried to roll back Perfview release versions until 2.0.26 was able to su

[2020-06-16 18:56] brianrob commented on #1207
Thanks for reporting.  I've posted #1210 to address this.

[2020-06-16 19:05] xiaomi7732 commented on #1207
The fix LGTM.

[2020-06-16 19:06] #1207 closed

[2020-06-16 23:59] brianrob commented on #1167
@baal2000, looks like you are likely correct.  Do you happen to have a trace that you're willing to share for this?  I'm interested in reproing so that I can make sure that I actually fix the issue.  If you don't want to post the trace here, but are willing to share, you can also send it to me at brianrob [at] microsoft.

[2020-06-17 02:09] baal2000 commented on #1167
@brianrob, emailed the trace.

[2020-06-18 08:48] yang-er opened #1211 "Debug Assertion Fail for option /NetworkCapture"
When running `PerfView Collect MyReport /LogFile:MyReport.log /MaxCollectSec:120 /Circular:1000 /BufferSize:1000 /CpuSampleMSec:10 /RundownTimeout:120 /AcceptEULA /SafeMode /NetworkCapture` in an empty folder, it throws an FileNotFoundException.

The call stack is as following:

https://github.com/microsoft/perfview/blob/a88337650be7da672bc17377488e994791405d97/src/PerfView/Utilities/CacheFiles.cs

[2020-06-23 20:56] sywhang opened #1216 "EventStats show duplicate entries"
EventStats window is showing duplicate entries for

Microsoft-Diagnostics-DiagnosticSource/Activity1Start and Microsoft-Diagnostics-DiagnosticSource/Activity1Stop events.

![image](https://user-images.githubusercontent.com/30421794/85461386-296dcd00-b559-11ea-8ff2-1e83443ed79f.png)

[2020-06-24 16:11] gabiganam commented on #1005
Nobody? Nothing?
:(

[2020-06-24 17:26] brianrob commented on #1005
@gabiganam, you are correct that we don't have support for this opcode.  Let's keep this issue around to track this.

[2020-06-25 02:25] swift-kim opened #1217 "UNMANAGED_CODE_TIME frames in Linux traces"
When I open up a .nettrace file (generated by the .NET Core runtime via dotnet-trace or COMPlus_EnableEventPipe=1) with **PerfView** or **speedscope**, the top most frame of every CPU sample is always either **CPU_TIME** or **UNMANAGED_CODE_TIME**.

As a result, there's no meaningful information I can get from the file when I sort the frames by **Exclusive** or **Self** time.

![image](https://use

[2020-06-25 08:17] adamsitnik commented on #1217
The `UNMANAGED_CODE_TIME` tells us that the time was spent in native (unmanaged) code. Personally I like to have this information because if `UNMANAGED_CODE_TIME` is high I switch from `dotnet trace` to `perfcollect`.

I assume that `CPU_TIME` means a CPU time spent in managed code? @noahfalk am I right?

Perhaps we could add some filtering to `dotnet trace convert` command?

[2020-06-26 06:51] noahfalk commented on #1217
Yeah, if at the time of thread suspension we were running managed code then we bucket it as CPU_TIME. If at the time of suspension the thread was outside managed code then we can't tell if it is executing some native code on the CPU or it is switched out in the kernel scheduler. So regardless of whether you called into native code for WaitForMutex() or DoATrillionMathOps(), the trace reports UNMAN

[2020-06-26 18:56] sywhang commented on #1092
Closed via https://github.com/dotnet/extensions/pull/2957

[2020-06-27 04:14] drewnoakes opened #1220 "OOM dumping GC heap"
PerfView64 2.0.56

I am attempting to dump the heap of `devenv.exe.187508.1593092508588.dmp` from [this feedback ticket](https://developercommunity.visualstudio.com/content/problem/1091989/enormous-memory-and-cpu-consumption-resulting-a-cr.html) and seeing:

[code]

Presumably that's this line:

https://github.com/microsoft/perfview/blob/b4f39fcf5188d336415f8c6a643d6b7423010aa1/src/FastSerializati

[2020-06-27 18:38] stormouse commented on #301
I have added the InMemoryCircularBuffer to run command dialog. Please check out MR:
https://github.com/microsoft/perfview/pull/1221

[2020-06-29 08:38] swift-kim commented on #1217
@adamsitnik More than 99% of CPU time in my samples is UNMANAGED_CODE_TIME and the information is barely helpful for me... I would prefer eliminating those top most frames by default (e.g. by adding a filtering option like `--fold-patterns` which defaults to `CPU_TIME;UNMANAGED_CODE_TIME`) and enabling explicitly when they're required. However, adding such an option would require modifying the exi

[2020-06-29 13:25] adamsitnik commented on #1217
@swift-kim I've created a proposal: https://github.com/dotnet/diagnostics/issues/1301

[2020-06-29 14:01] swift-kim commented on #1217
@adamsitnik Thanks! Let me track the proposal and help if I can.

[2020-06-30 18:42] danieljennings opened #1222 "SymbolReader's Age field rendering doesn't follow SSQP Key Conventions"
When building a path, SymbolReader renders the Age '10' as decimal '10' instead of 'a':

https://github.com/microsoft/perfview/blob/b4f39fcf5188d336415f8c6a643d6b7423010aa1/src/TraceEvent/Symbols/SymbolReader.cs#L229

From the [SSQP Key Conventions](https://github.com/dotnet/symstore/blob/master/docs/specs/SSQP_Key_Conventions.md):

and:

The behavior of WinDbg matches the spec, and disagrees with

[2020-07-01 01:02] tallesl commented on #903
Does this lives on a public repository right now?

[2020-07-01 01:51] mjsabby commented on #1194
@liguobao I can repro, will investigate.

[2020-07-01 02:21] mjsabby commented on #903
It lives here. https://github.com/microsoft/perfview/tree/master/src/PerfViewJS and is being actively developed & used internally at Microsoft, but I haven't had time to put it inside a chrome/shell.

[2020-07-01 15:27] ilabutin commented on #1026
@brianrob Does it make sense to invest time to this implementation or the WPF version is not that popular and the JS-based one might become more trending soon?

[2020-07-01 18:08] brianrob commented on #1026
@ilabutin, the WPF version will remain and is worth investing in.  We would like to have a JS-based solution at some point, but it's not clear when that will happen.

[2020-07-01 18:39] ilabutin commented on #1026
@brianrob Thanks for the information. I will then try to make those changes for horizontal scrolling of the grid cells in the form that is suitable for the PR.

[2020-07-01 18:44] brianrob commented on #1026
Awesome.  Thanks @ilabutin!

[2020-07-01 18:44] #1194 closed

[2020-07-09 12:50] swift-kim commented on #1217
Closing for now.

[2020-07-09 12:50] #1217 closed

[2020-07-10 14:14] swift-kim commented on #996
This issue has not received any attention, and I don't need a fix as my platform now supports aarch64 ;)

[2020-07-10 14:14] #996 closed

[2020-07-13 16:48] brianrob commented on #1211
@yang-er, I am not able to reproduce this.  `/NetworkCapture` is working properly for me.  The assert that you see here is for the input base file, which is the ETL file that you specify to /DataFile (or specify in the UI).  This file will be created as soon as the session starts, which occurs before this call.

Is it possible for you to capture an ETL trace of the repro that you're seeing?  I am

[2020-07-13 16:53] maksbrz184 commented on #928
Same thing goes for the "FileIOFileRundown" events.

[2020-07-14 01:59] yang-er commented on #1211
I'm using the version 2.0.57.0. When running the command given in my original command, it fails

[code]

This is the dump file [PerfViewRepro.zip](https://github.com/microsoft/perfview/files/4916041/PerfViewRepro.zip).

However, when I rewrite the command as `PerfView Collect /LogFile:MyReport.log /MaxCollectSec:120 /Circular:1000 /BufferSize:1000 /CpuSampleMSec:10 /RundownTimeout:120 /AcceptEULA

[2020-07-14 02:17] yang-er commented on #1211
I'm using the version 2.0.57.0. When running the command given in my original command, it fails

[code]

I have sent you the Repro zip via mail.

However, when I rewrite the command as `PerfView Collect /DataFile:MyReport.etl /LogFile:MyReport.log /MaxCollectSec:120 /Circular:1000 /BufferSize:1000 /CpuSampleMSec:10 /RundownTimeout:120 /AcceptEULA /SafeMode /NetworkCapture`, it succeeded. Why is th

[2020-07-14 17:49] #1211 closed

[2020-07-29 00:35] brianrob opened #1237 "Fix .NET 4.0 Trace Tests"
#1236 disables these tests because trace parsing on newer operating systems doesn't work on traces captured on Windows 7.  This manifests as a missing EventTrace event, which is required for PerfView to properly view the trace.

[2020-08-05 17:57] clcProjects opened #1240 "Which versions of .NetCore does PerfView work with?"
hi,

This is probably a dumb question, but I've looked through the user guide: https://github.com/Microsoft/perfview/blob/master/src/PerfView/SupportFiles/UsersGuide.htm and have not been able to find which versions of .Net Core Perfview works with. We have a .Net Core 2.0 project running in win2016.  Will perfview work with 2.0?

Thanks,
Paul

[2020-08-05 18:03] brianrob commented on #1240
@clcProjects, PerfView will work with all versions of .NET Core including 2.0.  In general, if the application runs on Windows, PerfView will work with it.  For .NET runtimes specifically, some runtimes have more diagnostic data that PerfView can display than others, but you should be in reasonably good shape with .NET Core 2.0.

[2020-08-05 18:39] clcProjects commented on #1240
Many thanks Brian!

From: Brian Robbins <notifications@github.com>
Sent: Wednesday, August 5, 2020 2:04 PM
To: microsoft/perfview <perfview@noreply.github.com>
Cc: Boyd, Paul <PBOYD@crs.loc.gov>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/perfview] Which versions of .NetCore does PerfView work with? (#1240)

@clcProjects<https://github.com/clcProjects>, PerfView will work with al

[2020-08-06 08:17] rauhs opened #1243 "Deadlink in Documentation"
This is a deadlink:

https://docs.microsoft.com/en-us/archive/blogs/vancem/logging-your-own-etw-events-in-c-system-diagnostics-tracing-eventsource

Linked from:

https://github.com/microsoft/perfview/blob/da4f1009487784245117e592557fcbe70f9f8b9c/src/PerfView/SupportFiles/PerfViewWebVideos.htm#L158

[2020-08-06 08:21] rauhs commented on #1243
https://docs.microsoft.com/en-us/archive/blogs/vancem/introduction-tutorial-logging-etw-events-in-c-system-diagnostics-tracing-eventsource

?

[2020-08-06 18:18] #1240 closed

[2020-08-14 15:16] zhouqifan2015 opened #1245 "Perfview could not set CPU sample time inside a container"
Hey folks, I manually run a perfview collection with setting /CpuSampleMSec:10, it failed set the property:

`Aborting tracing for sessions 'NT Kernel Logger' and 'PerfViewSession'.
Insuring .NET Allocation profiler not installed.
Detected 64 bit system, removing 64 bit keys
[Error: Can't set CPU sampling to 10.000MSec.]`

And I try yo remove the CpuSampleMSec setting, it could run collection succ

[2020-08-15 06:52] brianrob commented on #1245
@zhouqifan2015 I suspect that this is likely a container limitation, as this does work outside of the container environment (I just confirmed to make sure that there wasn't a bug I was unaware of).  What kind of container are you attempting to collect in?  Is this a shared kernel or isolated kernel container?

[2020-08-16 13:37] zhouqifan2015 commented on #1245
Thanks you Brian ! I agree this works outside of container, that's what I did before. For this issue I run into, I was just using docker to create a container with a WinServer image from docker hub. So I think this a shared kernel container.

[2020-08-16 18:04] dashesy commented on #1140
When searching "PerfView" [this version](https://www.microsoft.com/en-us/download/details.aspx?id=28567) comes up for download.

[2020-08-16 19:32] brianrob commented on #1245
Yes, I suspect that you're right that this is a shared kernel environment.  By default, you get a shared kernel container if you run on Windows Server.  My understanding is that you will only be able to change this configuration by collecting on the host.

[2020-08-17 06:35] zhouqifan2015 commented on #1245
Thank you Brian ! I think your understanding is totally correct, this makes sense to me now. Closing this issue.

[2020-08-17 06:35] #1245 closed

[2020-08-18 04:08] brianrob commented on #1140
@dashesy, that is quite an old copy and won't have support for nettrace files.  However, there are instructions on the download page, redirecting users to the GitHub releases page.

I'm going to go ahead and close this out, as it seems that folks just need a newer copy of PerfView.

[2020-08-18 04:08] #1140 closed

[2020-08-18 19:08] jaredrsowers commented on #166
Same issue:

[2020-08-18 19:11] jaredrsowers commented on #1048
Same error on 2.0.58 from a 3.1.7 trace from a k8s pod.

[2020-08-18 20:04] brianrob commented on #1048
This has been fixed in master, with #1244.  It will be included in the next release.

[2020-08-18 20:04] #1048 closed

[2020-08-18 21:50] dashesy commented on #1140
It is. Is there a way to retire these old links? perhaps change that to the release page on GitHub instead.

[2020-08-21 02:00] hoyosjs opened #1251 "TraceEvent symbols missing from MSDL and not pointing to public sources"
* Only Windows PDBs are published. This means tools like VS Code and dotnet dump can't use them for non-Windows diagnostics.
* The PDBs are only indexed on the internal symbol server.
* They have srcsrv annotations pointing to https://devdiv.visualstudio.com, which customers can't use in VS, and appear to be unusable in OneWatson. Sourcelink pointing to GH might be a better alternative (works on a

[2020-08-24 12:01] olx opened #1253 "ActivityId in "Microsoft-Diagnostics-DiagnosticSource" from real time session"
Hi!

I cannot get the ActivityId in "Microsoft-Diagnostics-DiagnosticSource" from real time session. It is empty guid.

![image](https://user-images.githubusercontent.com/601754/91042095-e3e18500-e619-11ea-9744-5c482836b5aa.png)

`var s_UserModeSessionName = "mytestsession";
            TraceEventSession userModeSession = new TraceEventSession(s_UserModeSessionName);
            TraceEventProvider

[2020-08-25 11:40] olx commented on #1253
Dump in perfiew is with activityid
![image](https://user-images.githubusercontent.com/601754/91169767-8e23e000-e6e0-11ea-8e60-9f4158dd18ea.png)

in my test console it does not exist

![image](https://user-images.githubusercontent.com/601754/91169985-e529b500-e6e0-11ea-9690-868107e776e4.png)

[2020-08-25 13:36] olx commented on #1253
CLRRundown must be activated

![image](https://user-images.githubusercontent.com/601754/91181017-14e0b900-e6f1-11ea-80cf-943c055d8e76.png)

[2020-08-25 13:36] #1253 closed

[2020-08-27 02:59] xiangzhai commented on #1167
:gsvm-interest

[2020-08-28 04:24] brianrob commented on #1140
I'm not sure, as I've not dealt with the Microsoft Download Center, but I'll see if I can find any info on this.

[2020-08-28 07:21] xiangzhai commented on #1167
Hi @brianrob

Thanks for your great PerfCollect: `perfcollect view gcstress4.zip`.  It help me to fix `GCStress=0x4` issue for MIPS64.

Thanks,
Leslie Zhai

[2020-08-28 18:25] brianrob commented on #1167
Glad to hear it xiangzhai.  Also, @bal2000, it seems that I didn't reply to this issue.  You are correct that the problem was the process name.  #1244 fixes this.

[2020-08-28 18:25] #1167 closed

[2020-08-28 19:17] baal2000 commented on #1167
@brianrob
Great, is #1244 released yet?

[2020-08-28 21:52] brianrob commented on #1167
Not yet, but it will be in the next release.

[2020-08-29 11:37] gleocadie opened #1254 "Opening CPU sample in Perfview show multiple "processes" for the same PID"
We are evaluating the .Net runtime 5 preview7, and I see a change in behavior when opening cpu samples (perf.data.txt file inside a *.trace.zip archive) in Perfview.

I collected cpu samples (using perf tools) of an application running on Linux with the runtime 5 preview 7. I noticed that in the perf.data.txt file the first line does not contain only the process name, but the name of the thread in

[2020-08-30 03:37] brianrob commented on #1254
Yup @gleocadie, this is expected.  In .NET 5 many of the standard threads have been named.  There is similar functionality on Windows, but it is surfaced in the ETW trace differently, which is why it doesn't show up in the processes dialog.

On Linux, the process name that perf displays gets hijacked by the "thread name".  We can definitely do something here, but the real question is what.  One th

[2020-08-31 23:41] mallikarjuna06 opened #1255 "Unable to resolve the symbols for unmanaged code section when the CPU usage file is captured using dotnet trace command from power shell"
Steps that I have followed.

Used PowerShell  and navigated till my project folder
--Set-Location C:\Users\....folder-structure...\MyProject.

From Powershell used below command to start the server of the application which exposes the endpoints
--start powershell{dotnet run}

Then I used below command to start to collect the CPU usage data
--dotnet-trace collect -p 17156 --providers Microsoft-DotN

[2020-09-01 23:01] mallikarjuna06 commented on #1255
@brianrob @suprak

[2020-09-02 08:49] adamsitnik commented on #1255
@mallikarjuna06 as far as I know this is by design. @noahfalk should be able to tell more

[2020-09-02 11:38] noahfalk commented on #1255
Thats correct, all of the dotnet-trace functionality is currently managed-code only. I hope to expand the capabilities of dotnet-trace in the future but for now if you want to profile unmanaged code you need to use OS specific tools that understand how to unwind and resolve that kind of code. On Windows ETW collection with PerfView, Visual Studio or WPA are common choices to do that.

A few other

[2020-09-07 11:10] webczat opened #1260 "http 500 when running PerfViewJS on linux"
Hi, tried to run PerfViewJS on linux using dotnet run, newest master, dotnet core 3.1.
It builds and runs, but invoking the browser indicates empty HTTP 500 error. There are no logs accessible to me so I cannot quite say why.
I just pass port 5000 and some empty directory as data root in program arguments.

[2020-09-08 18:45] brianrob commented on #1260
@mjsabby

[2020-09-10 03:28] guliteb opened #1263 "[Question] Cannot capture events from TraceLogging Provider: Microsoft.Windows.Kernel.Power and Microsoft.Windows.Power.SleepStudy"
I want to capture events real time from some TraceLogging Providers: Microsoft.Windows.Kernel.Power and Microsoft.Windows.Power.SleepStudy. But I cannot see any events from them. However, events are captured in ETL by WPR and shown in WPA.

Is there any comments?

[2020-09-11 17:41] adamsitnik opened #1264 "Windows ARM64 support for TraceEvent"
To start a `KernelSession` TraceEvent needs to use some of its native dependencies which are architecture-specific. Currently `x64` and `x86` are supported. It would be great if we could add `ARM64` support (and the 32 bit `ARM` variant if possible).

@brianrob I've access to Windows ARM64 machine (Surface Pro X), I would be very happy to help with implementation and|or testing.

[code]

[code]

[

[2020-09-11 17:55] brianrob commented on #1264
Thanks for bringing this up @adamsitnik.  This is definitely something that I would be interested in seeing done in `TraceEvent`.  I don't think we'll need it in `PerfView`, because `PerfView` will always be in x86 emulation mode on arm64.

If you want to give this a try, it's basically a two-step process.  Step 1 is to include the necessary binaries in the `Microsoft.Diagnostics.Tracing.TraceEven

[2020-09-12 03:20] mjsabby opened #1265 "Add abstract Process Start/Stop, Module Load/Unload and DbgId events"
Today `TraceLog` depends on `ProcessStart`, `ProcessStop` (and their DCStart/DCStop equivalents), `ImageLoad`, `Image Unload` (and their DCStart/Stop equivalents) and `ImageID` events to be able to do useful event viewing and analysis of data.

As we add the ability to add multiple processes inside NetTrace files, it becomes important to represent these events. After discussion with @noahfalk and

[2020-09-12 06:16] mjsabby commented on #1265
I'm thinking of the following:

Process Start -> Process Id, Filename, Command Line Args
Process End -> Process Id
Module Load -> Filename, LoadAddress, Size
Module Unload -> Filename, LoadAddress, Size
DebugId Info -> LoadAddress, DebugKeyInfo (byte array), Debug file name

Thoughts?

[2020-09-15 07:23] noahfalk commented on #1265
Thanks Mukul! A few thoughts came to mind, not sure where it all leads yet but just dumping it here as part of our brainstorming : )

1. The Nettrace format might benefit from 1st class support for ThreadCreate/Destroy as well? One spot this shows up is that if the reader sees two events from the same threadId we can't actually be certain if it is the same thread or two different threads that recy

[2020-09-15 07:55] tdihp commented on #1003
Found the same situation when trying mcr.microsoft.com/dotnet/core/samples:aspnetapp with AKS.
The perfcollect can be installed on node without issue, however when collecting from node directly with pid, I'm not able to get useful information.

[2020-09-15 09:24] noahfalk opened #1267 "Nettrace V5 wishlist"
We've been contemplating creating a breaking change in the Nettrace format. Ideally I'd like to keep such changes infrequent and give lots of lead time for new versions of the reader to become widely deployed before shifting any existing scenario to use it. This means trying to plan ahead for needs that could still be years ahead and then deciding what is worth the effort to implement in advance.

[2020-09-15 09:24] noahfalk commented on #1267
cc @mjsabby @josalem @sywhang @davmason

[2020-09-15 09:25] noahfalk commented on #1267
cc @brianrob

[2020-09-15 19:05] josalem commented on #1267
`perf` events on Linux?  We already know we can correlate events between a nettrace file and any other events collected using the same `CLOCK_MONOTONIC`.

1000%. I would love to reduce or eliminate the reliance on rundown.  I think we should look for tradeoffs we're willing to make in exchange for no rundown.  We could still leave rundown as an option since it might make sense in some scenarios.

[2020-09-15 21:57] mjsabby commented on #1265
First, let me say that nothing you've mentioned is bad, and I want ALL of it :) That said, I'm tempering this with the reality of me wanting at least something fairly quickly. Whether that means some of it is a format change and some of it is merely a library change is for us to decide.

1. ThreadCreate/Destroy is wonderful, I'm supportive of it, although it's not high on my priority list.
2. Agre

[2020-09-15 22:15] noahfalk commented on #1265
Sure, we can chat a little tomorrow about timelines and options for staging the work. There probably is some natural tension for you to deliver increments of work quickly vs. my desire to make breaking changes fairly substantive. I also have relatively limited time since this is concurrent with planning .NET 6 + trying to finish .NET 5. Hopefully we can still find a path that delivers what we need

[2020-09-16 13:19] Mek7 opened #1268 "PerfView64 cannot lookup symbols because loading native DLL fails"
Hi,
when you run PerfView64 (not PerfView), symbol lookup fails because native dll msdia140.dll cannot be loaded.
From log:
[code]

Using PerfView (not 64bit) it works fine, but I had to copy folder C:\Users\<username>\AppData\Roaming\PerfView\VER.2020-09-16.12.53.26.965 to folder C:\Users\<username>\AppData\Roaming\PerfView\native because the native folder didn't exist.

[2020-09-16 13:50] Mek7 opened #1269 "High CPU usage on IIS (w3wp.exe) gives no 'hot path' in CallTree tab"
Hi,
I'm troubleshooting why our production web server has high CPU usage by w3wp.exe since last release of our software.
There are more application pools (and so there are more instances of w3wp.exe) and the most relevant is process ID 9812 so I am investigating data captured from this process.
My problem is that in CallTree there is 100% in the Inc % column for the "Process64 w3wp (8912)", but wh

[2020-09-16 13:52] Mek7 commented on #1269
I'd also like to add label 'question' to this issue (as stated in the readme that I should do it, as this is not a bug report, but question) but I'm unable to find out how, probably I don't have permission.

[2020-09-16 19:13] vladimir-cheverdyuk commented on #1268
Exactly the same problem here. The same path that does not exist.
I have to use older version of PerfView.

[2020-09-17 03:43] sunny868 opened #1273 "Can PerfView run on Linux system?"
Can PerfView run on Linux system? If not, when can we support it?

[2020-09-17 04:09] mjsabby commented on #1260
I will take a look in a couple of weeks. sorry for the delay here @webczat

[2020-09-17 06:49] Mek7 commented on #1273
See also #903

[2020-09-17 17:58] brianrob commented on #1268
Thank you for reporting this.  I have a fix for this in https://github.com/microsoft/perfview/pull/1274.

[2020-09-17 19:01] #1268 closed

[2020-09-21 23:47] brianrob commented on #1273
PerfView itself is a WPF app, so no it does not run on Linux.  It can, however, open and parse Linux traces captured either via `perfcollect` or with `dotnet-trace`.  It is also possible to use the `TraceEvent` library on Linux to open traces if you wanted to host it in your own application.

[2020-09-22 01:01] sunny868 commented on #1273
thanks

[2020-09-22 01:01] #1273 closed

[2020-09-22 17:18] quisitive-crogers opened #1280 "Exception EventPipe conversion"
Trying to consume the nettrace in PerfView results in an exception while converting to ETLX file.

`Started: Opening trace.nettrace
Creating ETLX file C:\Users\chris\AppData\Local\Temp\PerfView\trace_2e914def.etlx from C:\Users\chris\Documents\trace.nettrace
Error: Exception EventPipe conversion: System.ArgumentOutOfRangeException: Valid values are between 0 and 999, inclusive.
Parameter name: mil

[2020-09-23 00:33] brianrob commented on #1269
@Mek7, how close to 100% do you get if you add up all of the thread nodes under the process?  There have been some issues in this space, and they're usually related to floating point precision.  I see that you've set fold % to 0 which is the most common issue.

[2020-09-23 07:03] Mek7 commented on #1269
Well, I don't know, I have fixed the performance issues in the meantime. I just wasn't sure how to interpret this, that's why I raised this question. Anyway, if I have to use PerfView again in the future, I will try to add up the numbers to see how close to 100% I can get. I am closing this issue now.

[2020-09-23 07:03] #1269 closed

[2020-09-23 20:23] felipepessoto opened #1281 "Merge is failing: Merge operation failed return code 0x1069"
Stack trace:

Found NGEN pdb C:\symbols\private\UIAutomationProvider.ni.pdb\19f1a7fa00831555e77bc86483ef25791\UIAutomationProvider.ni.pdb
NGEN PDB creation for C:\Windows\assembly\NativeImages_v4.0.30319_32\UIAutomationProvider\19f1a7fa00831555e77bc86483ef2579\UIAutomationProvider.ni.dll took 0.00 Sec
Generating NGEN Pdbs took 7.4 sec
Deleting temp file
Completed: Merging D:\MyUser\Debugging\Perfv

[2020-09-23 20:31] brianrob commented on #1281
@felipepessoto what version of PerfView did this happen with?  Also, out of curiosity, if you reboot the machine does this go away?  I did some searching of past failures in this space, but it seems that this one is fairly uncommon.

[2020-09-23 20:35] felipepessoto commented on #1281
I'm using the latest one. But I also tried with an version from July. (but I haven't captured the trace with that version, I only tried to Merge the previously captures etl).

I'll try to reboot the computer

[2020-09-24 07:43] MBulli opened #1282 "[TraceEvent] Make SymbolReader extendable for custom symbol formats"
I'm using the TraceEvent library to process events emitted from Delphi code. Sadly the Delphi compiler does not generate pdb files, but some other file formats, e.g. ASCII based *.map files. Hence, my callstacks can't be symbolized with TraceEvent. Clearly, I could implement the symbol lookup code by myself (this is what I'm going to do), but it would be nice if the library could handle other symb

[2020-09-24 19:16] felipepessoto commented on #1281
It worked after reboot. Thanks

[2020-09-24 22:33] felipepessoto commented on #1281
Unfortunately the problem is back after some hours :(
Should we keep the issue open to further investigation?

[2020-10-01 12:39] AxCoder opened #1283 "Add a command line switch to install presets"
We want to automate deployment of perfview to new machines.  Currently presents installation reuires several clicks.

It would be very nice to have a way to automate it.  For example like this:

[code]

[2020-10-01 17:21] ilabutin commented on #1283
Do you want this functionality to behave in the same was as the "Import" button works in the Manage Presets dialog?

[2020-10-01 18:35] AxCoder commented on #1283
Yes, exactly the same way.

[2020-10-01 19:51] ilabutin commented on #1283
OK. That should be easy to do. I'll look into this, but no promises time-wise :)

[2020-10-01 20:24] brianrob commented on #1283
This seems like a reasonable feature to me.  I would recommend calling it something like "importPresets" to match the import/export wording used in the UI.  @ilabutin, thanks for taking this.

[2020-10-05 02:10] SoibamRepo opened #1286 "Add additional custom field while processing EVENT data"
Hi all

Referring to sample examples provided in TraceEvent Library programming guide, We are able to run and print the event data of ALL events.
https://github.com/microsoft/perfview/blob/master/documentation/TraceEvent/TraceEventLibrary.md

using Microsoft.Diagnostics.Tracing;
    using System;

    class Program
    {
        static void Main()
        {
            using (var source = new ETWT

[2020-10-10 23:35] SoibamRepo commented on #1286
@ilabutin  @brianrob  could you please help me on above thread question ?

[2020-10-12 20:26] brianrob commented on #1286
@SoibamRepo, there isn't really a way to add fields to an event after the fact.  You generally don't want to do this because events have metadata associated with them that describes how to parse the event, and what fields are present.  If you add another field, you also have to be able to modify the metadata, which there isn't a way to do.

One thing that you could consider doing though, is using

[2020-10-15 02:28] itn3000 opened #1290 "Freeze processing in EventPipeEventSource if uncaught exception is thrown in callback."
# Environment

* Microsoft.Diagnostics.Tracing.TraceEvent: 2.0.61
* Microsoft.Diagnostics.NETCore.Client: 0.2.141901
* EventPipe sender app and receiver app's TFM: net5.0-rc2

# Steps to reproduce

1. run app which produce EventSource event periodically
2. start EventPipe session by DiagnosticClient
3. create EventPipeEventSource from event stream
4. set callback to DynamicEventParser.All
    * Ex

[2020-10-26 07:23] rauhs opened #1293 "Provide GUI warning popup when closing PerfView during rundown/zipping"
Hi all,

first of all: Thanks for PerfView, it has recently become a very valuable tool in our company! 👍

We deploy a very large .NET application to our customers and hence we (developers) don't run PerfView but instead our customers do. This is an issue since they very often don't wait for the rundown/zipping. Of course we try to give as detailed instructions as possible and tell them to await t

[2020-10-26 23:10] brianrob commented on #1293
@rauhs, I'm glad that PerfView has been useful to you.  This is actually the first time that I've heard of this issue - it's interesting that you get that many ETLs that are not merged.  One thing that might help would be to have customers specify the `/AcceptEULA` and `/NoGui` arguments.  This would mean that the they would just get a command line view of what's happening, which might help make i

[2020-10-27 16:24] gleocadie commented on #1254
Hello @brianrob , sorry for the late reply.

I was thinking that the perfcollect script could generate a file in which we associate a PID to a process name (from the perf.data.txt file), and save this file in the .trace.zip artifact.

When Perfview opens the .trace.zip file, we could take this into a account. If this file is not present, we could go for your second potential option (merge the name

[2020-10-28 23:06] brianrob commented on #1254
Sure, I'm all for capturing a bit more context information.  I don't think that the process name is in perf.data.txt in a different spot than where we get it today for display in PerfView.  So, I don't think you'll be able to get what you want from perf.data.txt.  I am wondering if there's a good way to get the command line for each process in the trace - that would be an awesome disambiguator.  W

[2020-10-29 11:31] gleocadie commented on #1254
To retrieve the name of the process and the command-line, I was thinking about  _**/proc/<pid>/cmdline**_. (we could also look at **_/proc/<pid>/status_** which contains the process name).

Here what I was thinking, let me know what you think:
- Once the trace is done, get all the PIDs from the perf.data.txt
- For all the PIDs, read from _**/proc/<pid>/cmdline**_ and/or **_/proc/<pid>/status_** to

[2020-11-01 02:31] jeffreywstevens commented on #558
I evaluated this tech years ago and really liked the ability to get Eventsource ETW events into the Application and Service logs and using Event Viewer.  The ability to enable/disable is nice too.

A misbehaving app was inspected with Perfview and its logging was not ETW.  A much slower medium.  We want to change that.  However, we also want to inspect the same events with Splunk and / or Elastics

[2020-11-02 04:25] brianrob commented on #1254
@gleocadie, thanks for this.  I think that doing what you suggest seems reasonable.  As you point out, it's not perfect, but it should handle many cases, and I think that's worth trying as a first attempt.  We can refine from there.  execsnoop is also interesting, and running as root is OK - we force that right now, but I'd like to avoid adding another dependency we have to package, so I think ski

[2020-11-03 20:52] cheverdyukv opened #1298 "Is it possible to use TraceEvent Library to do profiling app without elevation?"
Hi

I have an idea to do automatic monitoring of certain activities of our application to detect performance issues. I'm planning to use TraceEvent Library to capture only CPU Samples then analyzing them and then ask user to upload capture if some issue is detected.

But as I see most activities in TraceEvent Library requires elevation. Is it possible to do only CPU Samples without elevation?
It l

[2020-11-03 22:20] brianrob commented on #1298
@cheverdyuku, unfortunately not.  ETW requires administrator privileges to create a session that enables kernel events, such as CPU samples.

[2020-11-03 22:21] cheverdyukv commented on #1298
Ok, thank you

[2020-11-03 22:21] #1298 closed

[2020-11-04 08:38] tompazourek opened #1301 "The "build" assets in the "Microsoft.Diagnostics.Tracing.TraceEvent" package should also be "buildTransitive""
## Problem

The `Microsoft.Diagnostics.Tracing.TraceEvent.props` file that's stored inside the `build` folder of the `Microsoft.Diagnostics.Tracing.TraceEvent` package is responsible for copying the native DLLs to the output directory. (Looking at the current version `2.0.61`)

However, due to the nature of how `build` assets work in NuGet, this will only be applied on the project that directly re

[2020-11-04 19:42] vibhorbhattMS opened #1303 "TraceEvent: Support for EventName filtering in TraceEventProviderOptions"
Currently there seems to be no way to set Event Name based filters (applicable to TraceLogging events only) in TraceEventProviderOptions. Seems like that could be useful to add given more adoption of TraceLogging APIs over manifested events in recent years.

Though the ideal/optimal way to do filtering is using Keyword/Level pair, but there can be situations where that does not give the right scop

[2020-11-05 12:09] Alois-xx opened #1304 "PerfView cannot load symbols with a path > 250 chars"
This is a long standing issue and I would have thought that this is already solved.
When trying to make it work I did find that commit 5f738b85d44f43240ec00e45a81a1a1576224fa5 made matters worse where
long path handling is explicitely disabled via dirty reflection hacks.
The container symbol resolution is a corner case I think where there are other ways to detect if you are running inside a contai

[2020-11-05 22:08] kayle commented on #367
Search engines lead to this issue when hitting 'access denied', so adding that the fix is to run ```docker exec -it --user ContainerAdministrator <container name> pwsh``` to start an elevated powershell in a nanoserver container.

Unfortunately, I still don't get symbols for some native dlls that are in the container (running 20H2 update):
[code]

I can workaround using UnsafePDBMatch, but it'd be

[2020-11-07 23:49] brianrob commented on #1304
I don't believe that there is anything tracking long path support, so this issue can be used to do so.  https://github.com/microsoft/perfview/commit/5f738b85d44f43240ec00e45a81a1a1576224fa5 is actually for reaching into Windows process isolation containers to get PDB information from binaries that show up in the trace when captured on a host.  UseLegacyPathHandling=false is set to go down a differ

[2020-11-07 23:54] brianrob commented on #1303
@vibhorbhattMS, you should be able to do so via `DynamicTraceEventParser.AddCallbackForProviderEvent` or `DynamicTraceEventParser.AddCallbackForEvent`.

[2020-11-07 23:57] brianrob commented on #1301
@tompazourek, this seems like a reasonable thing to do.  Would you be up for submitting a PR?

[2020-11-09 08:56] Alois-xx commented on #1304
Sure I have opened PR #1313.

[2020-11-09 13:01] fliser2 opened #1315 "Typo on Circular MB: tooltip"
The tooltip of Circular MB instead of megabytes ["me**t**abytes"](https://github.com/microsoft/perfview/blob/b33df66c3879f767e7d5e01587a1d6fbb00c051f/src/PerfView/Dialogs/RunCommandDialog.xaml#L96) is written

[2020-11-10 04:22] YUbuntu0109 opened #1316 "suggestion: add some clear descptions about how to run it in readme.md"
🤔the content of description not clear in `README.md` bro, such as you should tell me the step about `how to run it`. . .

[2020-11-10 22:05] brianrob commented on #1316
@YUbuntu0109, take a look at the user's guide to get started: http://htmlpreview.github.io/?https://github.com/Microsoft/perfview/blob/master/src/PerfView/SupportFiles/UsersGuide.htm

[2020-11-11 11:49] gabiganam commented on #1005
@brianrob thanks for your feedback Brian.
Please take a look at the additional (related) issue I opened: https://github.com/microsoft/perfview/issues/1004

[2020-11-11 14:27] Alois-xx opened #1325 "Enable PerfView To Export SpeedScope Data Not Per Thread But All Threads Aggregated"
I have whipped together a small change to export SpeedScope Data not thread wise but as an aggregate.
That makes it much easier to find CPU bottlenecks which happen in the same methods split accross many threads.
Currently the Speedscope output is not that useful if you have many threads in your application.

- You loose then the timeline view which is not that useful anyway if you can check only

[2020-11-11 18:49] kayle opened #1326 "dotnet 5.0 traces have large percentage of unresolved modules in CPU stacks view"
I'm seeing a huge percentage of exclusive samples that are not resolved to a module:

![image](https://user-images.githubusercontent.com/1664776/98850576-fb632980-2422-11eb-8eab-370b0741a0ea.png)

I'm trying to profile the grpc client/server benchmark on windows with .net 5. Is this a known issue on .net 5, or something specific to this scenario?

Trace is uploaded here: https://github.com/kayle/p

[2020-11-11 19:40] kayle commented on #1326
After attaching the debugger, I think CodeAddressesInModule is 0 for most of the dotnet dlls in the trace. Are there some extra events I need to be collecting that I don't have?

[2020-11-11 20:17] kayle commented on #1326
Oops, the first trace didn't have ClrEvents on which explains the widespread missing symbols. Same problem, but less severe with the following trace:

![image](https://user-images.githubusercontent.com/1664776/98859813-bd6d0200-2430-11eb-8b48-bf2b93d97601.png)

[PerfViewData.zip](https://github.com/microsoft/perfview/files/5526515/PerfViewData.zip)

[2020-11-11 22:58] brianrob commented on #1326
@kayle, this is most common when either rundown doesn't happen (e.g. you don't get events that describe JIT events), or the trace wasn't merged and was either copied off box or one or more binaries changed.  I don't see a log with the trace - do you happen to have it handy?  I'm curious if merge succeeded.

[2020-11-11 23:06] brianrob commented on #1325
@adamsitnik

[2020-11-11 23:26] kayle commented on #1326
Sure, here's the log/symbols for the rest of the zip file (was too big to upload as an attachment before). I see errors that it couldn't find crossgen.exe. Maybe perfview could download it at runtime (https://github.com/dotnet/installer/issues/3438)?

[PerfViewData.log.txt](https://github.com/microsoft/perfview/files/5527342/PerfViewData.log.txt)

[PerfViewData.etl.zip](https://github.com/microsof

[2020-11-11 23:37] brianrob commented on #1326
Looks like merge succeeded.  The crossgen errors should not be an issue - in most cases, you don't need to use crossgen anymore - this is something that was required in previous version, but our diagnostics story has gotten better.

I don't see anything obviously wrong at this point.  Does this repro if you set the verbosity to verbose instead of informational?  Also, does it repro if you don't sp

[2020-11-12 00:13] kayle commented on #1326
Yes, it repros with -ClrEventLevel:Verbose and without a focus process.

The repro is not difficult:
1. git clone https://github.com/grpc/grpc-dotnet
2. start server with dotnet run -c Release -p .\perf\benchmarkapps\GrpcAspNetCoreServer\ --protocol h2c
3. start client with dotnet run -c Release -p .\perf\benchmarkapps\GrpcClient\ -- -u http://localhost:5000 -c 10 --streams 50 -s unary -p h2c --gr

[2020-11-12 16:47] adamsitnik commented on #1325
Hi @Alois-xx

As you have pointed out, speedscope does not support showing data from multiple threads using a single view mostly due to the `Time Order` view limitations (https://github.com/jlfwong/speedscope/issues/117). But, if you are not interested in `Time Order`, why would you use Speedscope while you can see the aggregated data in PerfView?

You should be able to see these methods in the "B

[2020-11-13 07:04] Alois-xx commented on #1325
Actually I am not using PerfView but a command line tool which automates the loading of an ETL, selecting a process, loading symbols or using cached ones. By adding a Thread xxxx at the bottom of each stack I get a view which shows e.g. how much threads have been spinning or if only one thread did all the work which is pretty useful in heavily multithreaded applications.

What I am most interested

[2020-11-13 11:43] YUbuntu0109 commented on #1316
ohh thanks bro

[2020-11-13 11:43] #1316 closed

[2020-11-15 20:21] Alois-xx commented on #1304
@brianrob: Is the PR ok or when will it be merged?

[2020-11-16 04:09] brianrob commented on #1304
@alois-xx, I need to do a bit of research on your proposed change to understand the details, especially around the manifest file.  Let me look into this and report back.

[2020-11-17 11:38] webczat commented on #1260
friendly ping :)

[2020-11-18 19:24] kayle commented on #1326
@brianrob After setting fold% to 0, it looks like the ?!? samples could be inlined calls or some other runtime overhead:

For example, this trivial IsCompleted method has 16 inclusive samples that call ?!?
![image](https://user-images.githubusercontent.com/1664776/99576548-2233d980-29a8-11eb-8f96-09c5c15827de.png)

[code]

and this method has 13 inclusive samples that call into ?!?

![image](https

[2020-11-20 17:58] marafiq opened #1328 "Question: How to install perfview using PowerShell on Server Env"
Question: How to install perfview using PowerShell on Server? Or is there a package which can be installed using PowerShell or choco.

[2020-11-20 19:10] brianrob commented on #1328
@marafiq, PerfView doesn't require an install - you can just download the exe and run it.  Thus, there isn't an installer package.

[2020-11-20 19:24] marafiq commented on #1328
@brianrob thanks I guess I was looking for this to automate it.

[code]

[2020-11-20 19:24] #1328 closed

[2020-11-23 14:09] adamsitnik commented on #1178
#1212 contained a proper fix, the issue can be closed now @brianrob

[2020-11-23 22:37] #1178 closed

[2020-11-24 21:18] #1301 closed

[2020-11-27 10:31] rauhs opened #1333 "Stack viewer: Support "ALT+V" when selecting time range in "When" column"
Currently when selecting a time range in the "When" column and pressing "ALT + V" it will display:

It would be helpful if this opened the events with the selected range.

[2020-11-30 08:58] Alois-xx commented on #1079
I have tried this as well an the data collection part seems to work. But so far I am unable to get the number of calls for a specific method. I thought that would be the prime use case for this thing?

I get in the Any Stacks view nice stacks but the Exc ... columns are empty. I am not interested in the aggregate call count but I want to know if a specific method is called one or 5 times.

![image

[2020-12-01 10:18] rauhs opened #1334 "Exception when clicking "Save as preset""
Trace:

[code]

Version 2.0.62. I don't have any presets, this was going to be the first one. I only set one "Save as startup preset" a few days ago (if it matters).

[2020-12-01 11:07] ilabutin commented on #1334
Thanks for reporting. I'll take a look

[2020-12-04 15:51] Alois-xx commented on #1304
@brianrob: Is it now ok?

[2020-12-06 21:24] ilabutin commented on #1334
Hi @rauhs
I was able to reproduce this exception when I was trying to save a preset when GroupPats was empty.
Could you confirm this was your case?

[2020-12-07 05:33] rauhs commented on #1334
Yes, that seems to be the issue! Sorry, I didn't debug more and tried to find the underlying issue.

[2020-12-07 06:35] ilabutin commented on #1334
The PR is there. Now we just need to wait for @brianrob to approve it.

[2020-12-10 17:01] raffaeler commented on #1172
This is very problematic when we try to hook the very first events coming from a process.
As the constructor is blocked, the events cannot be subscribed and therefore there is a high chance to lose the first events.

[2020-12-11 12:03] Platzer commented on #1002
Same issue here on .NET 5. @shirhatti workaround fixed the problem for me.

[2020-12-18 20:30] tommcdon commented on #1146
@VSadov @davmason can this issue be closed or is there work left in tracevent/perfview to support this?

[2020-12-19 08:00] davmason commented on #1146
@brianrob added POH support in the most recent version of perfview, closing

[2020-12-19 16:51] kirillkovalenko commented on #718
It [turned out](https://developercommunity.visualstudio.com/content/problem/263463/etw-events-lost-due-to-bug-in-eventsourcecreateman.html) that we need to sort `<events>` anyway, but should not touch `<channels>`.

Here is an XSLT for a post-processing task

[code]

[2020-12-21 18:04] kirillkovalenko commented on #718
Apparently [the bug](https://developercommunity.visualstudio.com/content/problem/263463/etw-events-lost-due-to-bug-in-eventsourcecreateman.html) prevents me from using 4.7.2 framework's EventSource, I'm considering using Microsoft.Diagnostics.Tracing.EventSource.Redist 5.0.0 which seems to corresponds to .net core 5.0 and I hope the issues fixed there. The problem however is that Microsoft.Diagnos

[2020-12-28 09:35] anotheroyz commented on #1166
Hit this error as well.

There are two scenarios hitting the error `System.Runtime.InteropServices.COMException: 'Insufficient system resources exist to complete the requested service. (Exception from HRESULT: 0x800705AA)'` in my project.

When I want to get the source of session
[code]
and error occurs
[code]

And to enable the providers
[code]
[code]

No more new sessions added.

[2021-01-04 22:52] noahfalk opened #1339 "EventRegister does not work with Microsoft.Diagnostics.Tracing.EventSource"
Forwarding an issue that was first reported in https://github.com/dotnet/runtime/issues/30690#issuecomment-750329716 by @kirillkovalenko

[2021-01-05 00:05] brianrob commented on #1166
@anotheroyz, how many sessions exist when you run `logman query -ets`?

[2021-01-05 02:35] anotheroyz commented on #1166
It's only 45.
[code]

Is it related to the debugging mode?

Someone in ['Insufficient system resources' when I listen ETW events with EventFlow on ServiceFabric cluster](https://stackoverflow.com/questions/51377117/insufficient-system-resources-when-i-listen-etw-events-with-eventflow-on-servi) mentioned that `each time you start your service, a new session is created, when you do it on Debug mode,

[2021-01-06 13:46] MendelMonteiro opened #1340 "EventPipe call stack logging"
I can see that it is possible to get call stacks associated with events from a `TraceLog` instance when it has been created by loading an EventPipe file however I would like to know if it is possible to do this with a real time `EventPipeEventSource` (i.e. without writing to a file)?

This would be equivalent functionality to using ETW with `TraceLog` + `TraceEventSession`.

[2021-01-06 18:32] brianrob commented on #1340
I don't believe that this is possible based on the existing code.  It is possible to create a real-time `EventPipeEventSource` and consume it, but `TraceLog` does not have a mechanism to consume it in real-time.  @josalem, do I have this correct?

[2021-01-06 19:06] brianrob commented on #1339
@kirillkovalenko can you share the error that you're getting?  A quick view of the source code looks like it doesn't depend upon the assembly identity.  Also, as an FYI, in most cases, you should not actually need EventRegister, as most tools out there know how to pull the manifest for an EventSource from the event stream rather than from the OS.

[2021-01-06 19:35] josalem commented on #1340
You're correct, Brian.  There isn't a way to use the `TraceLog` API with a live EventPipe session from `EventPipeEventSource`.

[2021-01-06 21:54] MendelMonteiro commented on #1340
Thanks for the quick response.

Is this something that is on the roadmap?

[2021-01-09 01:29] shirhatti opened #1341 "TraceEvent doesn't have strongly-typed Events for CLR Debugger events"
Relevant events in the CLR ETW manifest file:

https://github.com/dotnet/runtime/blob/7d094bb83579998ab1c1f601d6ae49f4067ebd80/src/coreclr/vm/ClrEtwAll.man#L3768-L3784

[2021-01-09 04:49] brianrob commented on #1341
@shirhatti this is definitely fixable.  Not sure why they aren't there.  Do you have a scenario that you're looking to enable?

[2021-01-12 10:58] MendelMonteiro commented on #1340
I'll assume that's a "no" ;-)

[2021-01-12 10:58] #1340 closed

[2021-01-12 18:49] #1334 closed

[2021-01-12 21:17] brianrob commented on #1172
@sywhang, are you planning to fix this?  If I understand correctly, this sounds like an issue that is specific to live sessions.

[2021-01-12 21:19] brianrob commented on #1002
@shirhatti, is there guidance on the right way to address this?

[2021-01-12 23:02] sywhang commented on #1172
Sure. I can take a look at this some time this week.

[2021-01-12 23:04] brianrob commented on #1172
Thanks much @sywhang.

[2021-01-12 23:09] shirhatti commented on #1002
My naïve guess would be to use the Architecutre-specific support in NuGet- https://docs.microsoft.com/en-us/nuget/create-packages/supporting-multiple-target-frameworks#architecture-specific-folders

Though I do believe that this is only supported in .NET Fx 4.6 and above which means you might have to preserve the custom MSBuild targets for older TFMs

[2021-01-12 23:28] shirhatti commented on #1341
I was writing a small utility to measure ASP.NET Core startup time and wanted deterministic way of knowing whether the debugger was attached or not. That's why I went looking for debugger events.

[2021-01-13 23:30] davidmikh opened #1345 "RelatedActivityIds no longer showing up in newer versions of perfview"
This change seems to have been introduced in version 2.0.61 of perfview and is likely due to a change in TraceEvent since it seems to also occur in things that consume TraceEvent (such as Visual Studio).

Repro instructions:

Open the following diagsession in version 2.0.60 or older of perfview: [5.0session.zip](https://github.com/microsoft/perfview/files/5811518/5.0session.zip) (any file containi

[2021-01-14 01:40] brianrob commented on #1345
Thanks for reporting this @davidmikh.  I have posted #1346 to address this.

[2021-01-14 04:24] #1345 closed

[2021-01-26 08:41] rauhs commented on #1282
@MBulli Do you have the symbol lookup implemented for Delphi Map files? We're a company with a mixed application and would love to be able to resolve delphi symbols.

[2021-01-26 09:17] MBulli commented on #1282
Sadly no. I was able to produce an almost valid pdb file based on the map file. WinDbg was able to verify the pdb, however the symbol lookup did not work. I didn't even try TraceEvent. As far as i remember important information was missing in the map file. I did not try to extend the TraceEvent library, I think because it seemed quite hard to do.

I then switched over to rsm files and started to w

[2021-01-27 01:14] brianrob opened #1349 "Default Branch Will Be Renamed to main on February 2, 2021"
# Update 2020/02/02:

The master branch has been renamed to main.  All PRs have been updated.  You will need to update your local fork (see below).

------------------

**On February 2, 2021, the default branch will be renamed to 'main'.**  This requires some changes from you as well. This announcement describes the process and what you need to do on your end.

# What you can expect
We have a deta

[2021-01-27 11:51] szarykott opened #1350 "What does information does GC Heap Net Mem Stacks convey?"
Greetings!

I apologize if question I am about to ask has a trivial answer that I just missed, but I've spent over a week looking for the answer and it is still not clear for me.

I am trying to understand what information does view in Memory Group named GC Heap Net Mem Stacks (and its sampled version) present. I read PerfView user guide, browsed through issues on GitHub, [asked a question on Stac

[2021-01-27 14:24] dorian-apanel-intel opened #1351 "TraceParserGen: xxxTaskGuid not defined"
I'm trying to compile cs code generated by TraceParserGen with custom manifest.

First problem I see is that guids passed to RegisterTemplate() are not defied.
Then I found this comment in code
[code]

Is it going to be fixed?
It happens both if I define eventGUID attribute or not.

[2021-01-29 11:38] dorian-apanel-intel opened #1353 "TraceLog: Allow custom user parsers"
It would be nice to add custom parsers to TraceLog.
There is already a TODO for it:
https://github.com/microsoft/perfview/blob/084c4de35943d511c844f40bcbdcaa0dd2c709c3/src/TraceEvent/TraceLog.cs#L912

[2021-01-30 01:52] brianrob commented on #1353
@dorian-apanel-intel, can you share some details about what you're hoping to do with this functionality?

[2021-02-01 06:36] dorian-apanel-intel commented on #1353
I have custom hand-written manifest and use it for logging in a native library and haven't found any popular C/C++ lib to parse ETL files.

After some adjustments, both to manifest and TraceParserGen, I was able to generate CustomTraceEventParser.

There are nice features of TraceLog/etlx mentioned in manual (going back/forth, iterating over one type of event, callstacks), but I cannot use it AFAI

[2021-02-01 18:44] brianrob commented on #1353
Thanks @dorian-apanel-intel.  If I understand correctly, you're trying to parse your own events that don't come from an EventSource, where the manifest is written into the event stream.  If I have that right, you should not need to add the parser when the TraceLog is produced.  All events, regardless of whether or not TraceEvent knows how to consume them, will be copied.  Then, when you access the

[2021-02-01 18:50] brianrob commented on #1350
@szarykott, the GC Heap Net Mem Stacks views should show you net allocations, meaning that it will show you the allocations that were allocated and are still alive during the time range that you're looking at.  Allocations that have been unrooted and collected will not appear in this view because they are not part of the set of "net live allocations".

The non-coarse version of the view will show

[2021-02-01 18:50] brianrob commented on #1351
@dorian-apanel-intel, this can be fixed, but wasn't an issue that I was aware of.  Would you be up for submitting a PR for this?

[2021-02-02 15:14] dorian-apanel-intel commented on #1351
Hi, I fixed it for myself.
I'm going to propose a PR soon.

[2021-02-02 18:56] szarykott commented on #1350
@brianrob, thank you for the answer. I'll try to submit PR to enhance documentation with this information soon for future users!

[2021-02-02 21:35] brianrob commented on #1350
Sounds good, thanks @szarykott!

[2021-02-03 17:55] dorian-apanel-intel commented on #1353
Sorry, I should be more verbose in previous post.
Once I generated my parser using TraceParserGen, I have no problems with accessing my events in event stream (etl grabbed by xperf). Events are strong typed, so changing schema is less error prone - good.

What I would like to do next, is to try [Higher Level Processing](https://github.com/microsoft/perfview/blob/main/documentation/TraceEvent/Trace

[2021-02-03 19:52] brianrob commented on #1353
Yes, you can consume events from a `TraceLog` with any parser, including a custom one.  To do this, you just need to get the underlying `TraceEventSource` from the `TraceLog`.

Something like this:
[code]

[2021-02-04 01:25] cgillum commented on #1166
I ran into the same problem, having exactly 45 sessions as well. I didn't create any of these trace sessions myself, so it didn't appear to be caused by something I did.

I temporarily worked around it by killing one of the ETW sessions on the box that seemed expendable. Not sure how safe this actually is...

[code]

[2021-02-04 01:48] smsunder opened #1363 "TraceLog: Missing Event - SchedulingLogContextChange"
Hello - My ETL parser utility requires parsing of specific DxgKrnl Event Name - "SchedulingLogContextStateChange". I can spot them in Dxgkrnl Provider GUID's Event List in GPUView, but somehow I don't get them while parsing ETL with Trace Event Parser. Is this a known issue? Appreciate your help!

_Originally posted by @smsunder in https://github.com/microsoft/perfview/discussions/1358_

[2021-02-04 04:37] brianrob commented on #1363
I'm not aware of an issue here.  Can you share a simple repro and a trace that exhibits this issue?

[2021-02-04 04:38] brianrob commented on #1166
It sounds like you're hitting the maximum number of ETW sessions.  I know that VS creates one per VS instance, so if you have a few instances, this can contribute to this issue.  But in general, I am seeing more and more sessions being created.  I'll pass this along as feedback to the ETW team.

[2021-02-04 06:37] smsunder commented on #1363
Hello - Following is a simple straightforward event parser that dumps the Event Data to console
I do get the "SchedulingLog" Event on the console, but I don't see "SchedulingLogContextStateChange" event all
Attached is the corresponding ETL file - SchedulingLog.etl
Nevertheless if I open the ETL file with GPU View I can see both events - SchedulingLog and SchedulingLogContextStateChange
Not sure w

[2021-02-04 14:01] nmoreaud commented on #1003
~/projects/cnx-experimental$ sudo ./perfcollect install
Installing perf_event packages.
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package linux-tools-5.4.72-microsoft-standard-WSL2
E: Couldn't find any package by glob 'linux-tools-5.4.72-microsoft-standard-WSL2'
E: Couldn't find any package by regex 'linux-tools-5.4.72-microsoft-st

[2021-02-05 00:00] dorian-apanel-intel commented on #1353
Your snippet works, but let me quote manual to explain what I'm trying to do:

I would like to use this pull model.

Processing by callbacks works fine (push model).
I don't know how to iterate back/forth through events by type/process (using TraceLog, without creating arrays on the side - pull model).

// pull model attempts are marked as "Never fired" in below snippet:
[code]

[2021-02-05 01:41] brianrob commented on #1003
Generally, this issue should now be solved with #1278.

@nmoreaud, it looks like you're trying to run this on WSL2, and so there just may not be packages that match this format for WSL2.  I have this on my list to investigate, but haven't gotten a chance yet.  The first step would be to figure out if there are packages for WSL2 to install perf.  If you're interested in starting the investigation,

[2021-02-05 06:03] nmoreaud commented on #1003
I searched about it yesterday, perf tool seems to have gained support recently on WSL 2 kernel. However, people who managed to use it compiled it from sources. I won't have the time to investigate this.

My aim is to profile C# .NET5 code on WSL2/Ubuntu with VSCode, I though there would be lots of tutorials but VSCode seems to lack profiler integration.

[2021-02-05 06:10] nmoreaud commented on #1003
Maybe we should have a warning about WSL support in perfcollect documentation

[2021-02-09 08:55] paulomorgado opened #1364 "Add a command-line generator from the collect/run GUI"
As per @brianrob, this is already implemented here: https://github.com/microsoft/perfview/blob/3e09e663969d8679c6d29a28807d736fd1d2a0e7/src/PerfView/CommandProcessor.cs#L2756

Questions?

1. Should that include the `AcceptEULA` and `NoGUI` arguments?
2. Should that include the path to the currently executing PerfView?

[2021-02-10 09:57] paulomorgado opened #1365 "Consider integrating dotnet trace collection"
Consider integrating `dotnet trace` collection.

**PerfView** is great, not only for analysis, but also for collection.

A curated set of providers like **PerfView** has for **ETW**, would be great to have for `dotnet trace`.

[2021-02-10 13:31] paulomorgado opened #1366 "NullReferenceException opening IIS Stats"
PerfView version: 2.0.65 (x86 and x64)

[code]

[2021-02-11 07:16] paulomorgado opened #1367 "Automatic CPU Analysis: http://aka.ms/perfviewautoanalysis/unfairsemaphore.wait is not defined"
The http://aka.ms/perfviewautoanalysis/unfairsemaphore.wait redirection is not defined.

[2021-02-11 07:17] paulomorgado opened #1368 "Automatic CPU Analysis: Consider implementing for nettrace"
Automatic CPU Analysis works on ETW traces for .NET Core.

Consider implementing for nettrace.

[2021-02-11 13:58] paulomorgado opened #1369 "Provide trace information for nettrace traces"
If noting else, it would be nice to have the duration of the trace.

[2021-02-11 16:04] FlsPrpht opened #1370 "ActivityId is does not sort propertly"
Sorting the list of 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12 as

1
10
11
12
2
3
4
5
6
7
8
9

is not helpful.   The correct sorting is

01
02
03
04
05
06
07
08
09
10
11
12

![image](https://user-images.githubusercontent.com/58598891/107662844-512cb500-6c50-11eb-8717-e71877d20da1.png)

[2021-02-11 23:42] brianrob commented on #1367
Yup, this is a known issue.  I've not yet created any of the aka.ms links in auto analysis yet, but this is on my list.

[2021-02-12 00:40] paulomorgado commented on #1367
It would be better to just point to a landing page with some "coming soon" message than having it go "nowhere".

[2021-02-14 00:51] brianrob commented on #1366
@paulomorgado, can you share the trace where you saw this please?

[2021-02-14 01:18] brianrob commented on #1370
This is certainly something that would be nice to have.  As you've noticed, the events view sorts lexicographically.  I'd be open to taking a PR to address this, if that's something you're interested in.

[2021-02-14 01:19] brianrob commented on #1365
This is an interesting thought.  My inclination is to say that I'd like to not duplicate the functionality, simply because `dotnet-trace` is the one and only tool that does this, and I don't want to try and "keep up" with the great work that they're doing.  But I'm open to be convinced otherwise.  @josalem, @sywhang  what do you think?

[2021-02-14 01:22] brianrob commented on #1364
To answer your questions: It is reasonable to include `NoGui`, but I would be hesitant to include `AcceptEULA` because this is a specific statement that each user should make.  I think including the path is really about what the use case is.  Are you going to script something locally, or is this really about handing out command lines to others?  If the former, than you'd want to include it.  For t

[2021-02-14 17:51] paulomorgado commented on #1365
I don't intend to duplicate `dotnet-trace`, just provide a helpful way for users to visually discover settings and providers and provide a command-line or launch `dotnet-trace`.

[2021-02-15 10:26] dorian-apanel-intel commented on #1353
I have a [fix](https://github.com/dorian-apanel-intel/perfview/commit/a0a9679a937f08757d5d627d9a19106fdc897a00) that seems to work. It allows me to inject my parser and iterate over my events. (Custom action passed to TraceLog constructor)
I will create PR one other with whitespaces in merged.

[2021-02-16 20:01] josalem commented on #1365
You effectively want to add `dotnet-trace` as a collecting agent to the `collect` dialogue in PerfView?  That's an interesting thought.

Nothing stops PerfView from invoking `dotnet-trace` under the covers.  I'm not sure we want to start packaging `dotnet-trace` _in_ PerfView, though.  Would it be sufficient to require the user to install `dotnet-trace` themselves?  This doesn't sound like a great

[2021-02-16 20:05] sywhang commented on #1365
I mostly agree with @josalem here and wouldn't be opposed to enabling PerfView to collect EventPipe traces, although I'm not really sure what the benefit of doing this would be, other than being able to collect and analyze the trace from PerfView as opposed to having to launch dotnet-trace from CLI then open up PerfView to analyze it.

`dotnet-monitor` also collects EventPipe traces, so `dotnet-tr

[2021-02-16 20:22] paulomorgado commented on #1365
Just guiding the user to build the command-line would be a benefit on itself.

Like #1364, this would help build a command-line to run on other machines.

But PerfView could start the process and wait for it to end, but the user would be responsible for have dotnet tools installed.

[2021-02-16 23:54] brianrob commented on #1365
@paulomorgado, do you think that the most important part is to help folks figure out how to use other collectors more effectively, or is it really about chaining the tools in to PerfView?  The reason I ask is because there are other kinds of tools whose output PerfView knows how to open, but that PerfView doesn't know how to collect.  Examples include perfcollect, vmmap, and Windows process dumps.

[2021-02-17 07:44] paulomorgado commented on #1365
It's more about helping the user build the command-line than launching the collection itself.

dotnet-trace still has an advantage over ETW that is collection only for the target process.

[2021-02-17 07:44] paulomorgado commented on #1366
@brianrob, sent privately.

[2021-02-17 07:57] sywhang commented on #1365
@josalem and I would be happy to receive any feedback or suggestions you might have on how we could make the command-line for dotnet-trace easier. Do you have some specific examples of command-lines that are difficult to build out?

[2021-02-17 08:32] paulomorgado commented on #1366
The provided trace fails the following asserts:

https://github.com/microsoft/perfview/blob/main/src/TraceEvent/Parsers/SymbolTraceEventParser.cs#L548
https://github.com/microsoft/perfview/blob/main/src/TraceEvent/TraceLog.cs#L4226
https://github.com/microsoft/perfview/blob/main/src/TraceEvent/TraceLog.cs#L2748
https://github.com/microsoft/perfview/blob/main/src/TraceEvent/TraceLog.cs#L2564
https:

[2021-02-17 09:41] paulomorgado commented on #1365
@sywhang everything about dotnet-trace is difficult if you're used to just run PerfView.

I'd go for an utility tool to just build the helper UI, but the familiarity of PerfView can help users.

[2021-02-22 07:12] baekhyunee7 commented on #1140
so anyone  got the solution?

[2021-02-24 15:22] #1366 closed

[2021-02-27 02:09] haengel opened #1378 "Starting PerfView Collect Machine-Wide Latest Fails with "Error: Could not load file or assembly 'Microsoft.Win32.Registry""
Starting PerfView Collection fails. Status Logs:
Started with command line: "C:\Users\haengel.REDMOND\OneDrive - Microsoft\Desktop\PerfView.exe" /RestartingToElevelate:  /BufferSizeMB:256 /StackCompression GuiCollect
PerfView Version: 2.0.66  BuildDate: Mon, 22 Feb 2021 19:59:47 GMT
PerfView Start Time 2/26/2021 7:00:59 PM
Started: GuiCollect
Warning: PdbScope not found at C:\Users\haengel.REDMOND

[2021-02-27 15:04] haengel commented on #1378
I tried downloading Microsoft.Win32.Registry.dll and placing it as a peer to the PerfView.exe. Now I get a different error:
Started with command line: "E:\PerfView (1).exe"
PerfView Version: 2.0.65  BuildDate: Sat, 23 Jan 2021 00:50:56 GMT
PerfView Start Time 2/27/2021 8:01:57 AM
Started: View
Warning: PdbScope not found at E:\PerfViewExtensions\PdbScope.exe
Disabling the Image Size Menu Item.
War

[2021-03-01 15:33] brianrob commented on #1378
This sounds like PerfView isn't able to unpack its dependencies into your %userprofile%\appdata\roaming\PerfView directory.  Can you look and see if perhaps this directory isn't writable?  You should expect to see a VER.<Date> directory with all of the dependencies in it.  One thing that might be worth doing is to delete the %userprofile%\appdata\roaming\PerfView directory if it exists, and let Pe

[2021-03-01 15:53] haengel commented on #1378
I tried deleting this folder and re-running Perf View. I can see there are some dependencies here, e.g Microsoft.Diagnostics.FastSerialization, but no Microsoft.Win32.Registry.

[2021-03-09 18:27] davidfowl opened #1382 "Disable DiagnosticSource event source and ASP.NET Core event source by default"
Today perfview turns on diagnostic source events and deprecated ASP.NET Core events:

https://github.com/microsoft/perfview/blob/203df9d4c40f2226274a46b271a2f5f464b35d76/src/PerfView/CommandProcessor.cs#L742-L761

The ASP.NET Core events should be removed. I think the diagnostic source event source should be configurable but off by default as well.

[2021-03-10 17:22] brunom opened #1384 "CPU profiling records no samples after wakeup"
Profile data collected after my machine sleeps and wake up contain no samples for CPU Stacks. All process are at 0 CPU MSec. This seems to be a system issue under PerfView, as UIforETW doesn't work either, but I thought I could ask here at least where to ask. My PC is a Kaby Lake notebook with Windows 10 20H2.

[2021-03-16 13:52] brianrob commented on #1384
@brunom, to confirm my understanding, are you saying that you start collection, then put the computer to sleep, and then wake it up and stop collection?

[2021-03-16 14:13] brunom commented on #1384
@brianrob No, collection didn't need to be running when sleeping. I've suffered this some more and I now believe that sleeping wasn't the cause, but just the passage of time. I have to frequently restart the PC to do more profiling.

[2021-03-16 14:16] brianrob commented on #1384
Ah, this sounds like there might be a driver that affecting your ability to capture CPU samples.  I've seen this before a few times - is it possible that you have some non-ETW profiling tools installed on your machine that might be installing drivers?  I have heard that this sort of things has occurred with VTune specifically.

[2021-03-16 15:13] brunom commented on #1384
Yes, I use VTune. I tried first uninstalling it and then updating it, but maybe the uninstall wasn't clean enough. Thanks.

[2021-03-16 18:28] brianrob commented on #1384
I suspect that you might be right on this.  If you're OK, I'd like to close this issue - let me know if you have any more questions on this.

[2021-03-16 19:17] Lombra opened #1387 ""The specified module could not be found" (versions > 2.0.62)"
The following application throws a Win32Exception "The specified module could not be found" at `EnableKernelProvider`.
[code]
Version 2.0.62 works. 2.0.64 through 2.0.66 do not.

Windows 7 64 bit. .NET 5.0.

[2021-03-16 19:56] #1384 closed

[2021-03-18 13:44] jstranik opened #1390 "GC Rollup By Generation report generates negative numbers for "Total Alloc MB""
I would not have expected a negative numbers in the "Total Alloc MB" column in the summary GC Stats report.

GC Rollup By Generation
--

ALL | 256 | 4.7 | 536.0 | 10,129.029 | 97.5 | 6,111.6 | 62.7 | ∞ | 0.4 | 0
0 | 235 | 4.6 | 536.0 | 10,129.029 | 55.1 | 8,917.8 | 0.0 | ∞ | 0.2 | 0
1 | 1 | 4.7 | 205.5 | 0.000 | 4.7 | -426.2 | 0.0 | ∞ | 4.7 | 0
2 | 20 | 3.8 | 536.0 | 9,998.753 | 37.7 | -2,380.0 |

[2021-03-19 13:14] roji opened #1392 "Flame graph: color by groupings"
Perfview already has excellent support for grouping (GroupPats), it really seems useful for flame graphs to color stack frames based on groups.

[2021-03-19 13:46] vdvarlamov opened #1393 "Bad trace from Windows Container"
I have .Net Core application run in windows container. I run command from container: _PerfView.exe /nogui /accepteula /NoView /Zip:TRUE /Merge:TRUE /logFile=log.txt /TrustPdbs /MaxCollectSec:30 collect .\PerfViewData.etl.zip_
After i copy _PerfViewData.etl.zip_ on node, where the container is running and opening trace in PerfView GUI.
In logs,i see many WARNING below.
Hence, I get a bad trace, wit

[2021-03-19 13:59] brianrob commented on #1393
A couple of questions on this:
 - What kind of container did you run this in (process isolation container or Hyper-V container)?
 - What OS image did you base your container on?

[2021-03-19 14:04] vdvarlamov commented on #1393
- mcr.microsoft.com/windows/servercore:ltsc2019 (process isolation)
- Windows Server 2019 Std

[2021-03-19 18:00] brianrob commented on #1393
Thanks.  Can you try running `PerfView.exe merge <path\to\etl> -ImageIDsOnly` on the host, and see if that solves the problem.  There are some access issues between the host and process isolation containers specifically that often require that you merge the trace both on the host and inside the container.

[2021-03-19 20:16] brianrob commented on #1392
cc: @adamsitnik

[2021-03-22 17:25] brianrob commented on #1393
Nothing immediately jumps out at me as an issue.  That said, this area has some complexity as we're dealing with two somewhat isolated systems (the host and the container).

As a path forward, I would recommend that you diff the traces that you've taken when running the app inside the container and on the host.  This should help us to understand which modules are not being resolved when you run in

[2021-03-23 10:11] dorian-apanel-intel opened #1394 "TraceParserGen: Exception in UpdateStrings()"
When trying to generate parser from system's Microsoft-Windows-DxgKrnl.manifest.xml
Value in dictionary is changed during iteration in UpdateStrings()

Version 207042d22482a3c479536a2e99a92b84aef6b32d
[code]

[2021-03-23 14:36] #1394 closed

[2021-03-23 15:51] adamsitnik commented on #1392
I am afraid that I won't have the time to implement it anytime soon. The best I can do is to provide some hints for contributors who would be interested in implementing that:

The Model is built [here](https://github.com/microsoft/perfview/blob/6b4771eecba5ed00555a34d70e19a8742af4ee0a/src/PerfView/StackViewer/FlameGraph.cs#L46) and most probably [CallTreeNode](https://github.com/microsoft/perfview

[2021-03-23 18:31] brianrob commented on #1392
Thanks @adamsitnik.  Appreciate the input.  I'll keep this around in case folks want to contribute to this work.

[2021-03-25 09:31] vdvarlamov commented on #1393
The inspect process name - _WebApplication1_.
[PerfViewData_from_host.etl.zip](https://github.com/microsoft/perfview/files/6203525/PerfViewData_from_host.etl.zip)
[PerfViewData_without_ImageIDOnly_from_container.etl.zip](https://github.com/microsoft/perfview/files/6203535/PerfViewData_without_ImageIDOnly_from_container.etl.zip)
[PerfViewData_with_ImageIDOnly_from_container.etl.zip](https://github.

[2021-03-27 17:49] TrayanZapryanov commented on #1267
I am sorry, if this is not the correct place to ask a question.
We built a custom UI over Microsoft.Diagnostics.Tracing.TraceEvent nuget and it works fine until we moved our service in Linux Azure App Service. Following guide in section  in [How to leverage dotnet-trace in App Services Linux](https://azureossd.github.io/2020/11/06/Troubleshoot-Dotnet-Core-on-App-Services-Linux/) we are able to pro

[2021-03-28 09:00] noahfalk opened #1396 "Questions about NetTrace format"
@TrayanZapryanov originally wrote this this in [another issue](https://github.com/microsoft/perfview/issues/1267#issuecomment-808769048) and I moved it here:

I am sorry, if this is not the correct place to ask a question.
We built a custom UI over Microsoft.Diagnostics.Tracing.TraceEvent nuget and it works fine until we moved our service in Linux Azure App Service. Following guide in section in H

[2021-03-28 09:21] noahfalk commented on #1396
nettrace files can be read by the TraceEvent library by creating an [EventPipeEventSource](https://github.com/microsoft/perfview/blob/main/src/TraceEvent/EventPipe/EventPipeEventSource.cs#L29). If you are using Perfview nettrace files can be opened in the UI identically to .etl files.

You might be able to convert it to .etlx using [this API](https://github.com/microsoft/perfview/blob/f460b42b61bd

[2021-03-28 12:24] TrayanZapryanov commented on #1396
@noahfalk Thank you for the great help.
Your suggestion works fine and I was able to read the data.
There is one minor change between these 2 types of loading : TraceEvent.FormattedMessage is null in case of nettrace.
I've made some adjustments in our UI and it looks pretty close to previous state.

[2021-03-29 00:27] noahfalk commented on #1396
Glad it worked well for you! The nettrace serialization format doesn't currently support storing the formatted message string so the null there is expected. Its something I'd like to improve in the future.

[2021-03-29 00:27] #1396 closed

[2021-04-09 07:21] code2mars opened #1407 "Exception when opening gcdump collected from a process dump file"
I have generated heap dump file from the existing process dump file using Take heap snapshot from the Dump option and when i tried to open the generated heap dump it throws an error. In the logs I am seeing the below exception.

[code]

[2021-04-19 13:17] jakobbotsch opened #1410 "GetILOffsetForNativeAddress decrementing returned IL offset leads to wrongly-attributed samples"
We are working on adding sample-based PGO support to .NET Core. As part of this, I am using TraceEvent to parse traces and retrieve the samples as a (method, IL offset) pair. We are seeing some strange samples because of the following:
https://github.com/microsoft/perfview/blob/3d2809c029715ad5104c0b25f0083283f1626e7f/src/TraceEvent/TraceLog.cs#L9184-L9190
I am not quite sure what the comment is d

[2021-04-20 12:07] dorian-apanel-intel commented on #1353
For my personal use, this https://github.com/dorian-apanel-intel/perfview/commit/a0a9679a937f08757d5d627d9a19106fdc897a00 helps, but using TraceLog class and iterating back/forth is much less performant then creating own slimmed event arrays and iterating them. Therefore I've stopped using it for my use case.

@brianrob
Do you want to merge it or shall we just close this issue?

[2021-04-21 01:06] honghaic opened #1415 "Make BPerfEventSource can customize decompress algorithm"
Today BPerfEventSource is using ULZ777 to decompress stream.  In some scenario we want to use FPGA to compress and decompress, the algorithm are different with ULZ777,  provide mechanism for end user to customize decompress algorithm can solve the issue.

[2021-04-21 08:45] vdvarlamov commented on #1393
@brianrob , are there any ideas for the provided traces?

[2021-04-22 17:14] soykar1 opened #1417 "Increasing number of "?!? stack frames in ETW traces over time"
Hi,

I've been using Perfview to collect and analyze performance issues for client's IIS hosted ASP.NET server application
running on Azure VMs successfully for almost 2 years.

However, during the past couple of months ETW traces have started to become more and more "corrupted",
until a point when they are "useless". Without an apparent reason, the majority of call stacks are now resolved as "?!?

[2021-04-23 03:48] brianrob commented on #1417
@soykar1, would you by chance be able to share a good and bad trace with me?  That would help a lot with respect to diagnosing this.  If it would be preferrable, you can e-mail at brianrob [at] microsoft to give me access to the files so that they are not publicly accessible.

[2021-04-23 10:48] soykar1 commented on #1417
Hi @brianrob,

I've sent you an email with a link to both traces, thanks.

[2021-04-23 15:54] murugaratham commented on #903
Friendly bump on this, as Microsoft is enticing developers with dotnet core xplat capabilities, development experience is pretty decent but tracing is pretty much limited to speed scope and we lose so much info. Using a m1 Mac right now and I have to change to different machine to do traces

[2021-04-23 21:49] aaronhudon commented on #1002
Tried both suggested workarounds by @shirhatti  and @jasmh but no luck.  Targeting net5.0, win-x64, selfcontained and get the following error.

[code]

[2021-04-23 21:53] aaronhudon commented on #1002
I take it back!  the property `GeneratePathProperty="true"` is what does the trick on the package reference for TraceEvent

[2021-04-28 12:28] kkokosa opened #1420 "Missing CLR Startup Flags in .NET Core apps"
Currently .NET Core/.NET 5 aps [does not send `StartupFlags` in `/Runtime/Start` event](https://github.com/dotnet/runtime/blob/01b7e73cd378145264a7cb7a09365b41ed42b240/src/coreclr/vm/eventtrace.cpp#L5048-L5104), which are later on showed in GCStats `CLR Startup Flags` view. It was a super convenient way to check GC mode, with the help of `CONCURRENT_GC`/`SERVER_GC` values. Especially when analysis

[2021-04-28 20:41] brianrob commented on #1420
@kkokosa, I think that this probably belongs in the runtime repo, as the change would be in the runtime.  Can you re-file this there please?  It looks like I don't have a way to transfer it there.  Thanks.

[2021-04-29 09:30] kkokosa commented on #1420
Sure, just wanted to make a sanity check if I'm missing something. I will file an issue there. But I will leave this open, as it will required some work on the PerfView side too, if such event will be introduced.

[2021-04-29 18:34] soykar1 commented on #1417
One thing which has significantly reduced the percentage of ?!? stack frames, was to increase the minimal rundown time (-MinRundownTime:120). Although not successful 100% of the time, it alleviates the corruption into a usable level, even though it requires to execute multiple ETW sessions in a row to get useful data (currently 1 in 3 runs is non-corrupted on average)

In my particular case, the p

[2021-05-04 06:45] szarykott commented on #1350
Thank you for merging my PR. I am closing the issue as resolved :)

[2021-05-04 06:45] #1350 closed

[2021-05-09 23:21] redwyre opened #1423 "Crash loading nettrace file"
Getting this pop up and then the app closes by itself (can't continue)
![image](https://user-images.githubusercontent.com/431728/117590034-ff24fe00-b170-11eb-8a73-57bf0ff1b8ce.png)

Can provide a link to the nettrace file privately

[2021-05-17 23:09] Maoni0 opened #1428 "should be able to use EventCounter as triggers like we do with perf counter"
in .NET Framework days we had perf counters and you could do triggers based on them, eg,

perfVIew.exe /nogui "/StartOnPerfCounter:.NET CLR Memory:# Gen 0 Collections:myproc>1800" "/StartOnPerfCounter:.NET CLR Memory:# Gen 0 Collections:myproc>2400" /GCCollectOnly collect

this would start collecting the trace when it sees GC#1800 in myproc.exe and stop the trace when it sees GC#2400 and that's su

[2021-05-20 05:12] cblaze22 opened #1429 ".dll not found when running Processes / Files/ Registry Stacks"
I am getting this error message below now for some reason.  The file is in system32 folder.

![image](https://user-images.githubusercontent.com/556494/118922624-5f9e0300-b908-11eb-86ed-66caf770c50f.png)

[2021-05-20 06:11] vdvarlamov commented on #1393
@brianrob , hello, can I hope for your help?

[2021-05-21 14:21] brianrob commented on #1429
@cblaze22, I put PerfView under the debugger here to see what is loading this DLL and it is not getting loaded for me at all.  I suspect that there is some dependency on your machine that is loading it, but I'm not sure why.  The best way to investigate this is to use [Show Loader Snaps](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/show-loader-snaps) and then look at the outp

[2021-05-24 12:22] cblaze22 opened #1431 "Stacks broken, analysis is suspect"
I am not sure why I am getting this message or what the solution is in the popup actually does.  Is there a reason why I am getting this on a 64 bit machine trying to profile a ASP.NET website?

![image](https://user-images.githubusercontent.com/556494/119347076-02d47c80-bc69-11eb-8a74-7ca928571fdc.png)

[2021-05-24 23:44] brianrob commented on #1431
@cblaze22, there are a range of reasons that this can happen.  In general though, the data that you captured should still be usable.  You may notice that some of the stacks are missing their bottom portions, but for the most part, this often isn't impactful to analysis.

Are you seeing this with .NET Framework or .NET Core, and can you share which version you're running?  I am looking into an issu

[2021-05-25 16:04] cblaze22 commented on #1431
I am using .NET Framework 4.8.

[2021-05-26 18:11] mmgagnon opened #1436 "COMException when trying to capture performance capture for Visual Studio"
I am attempting to capture a Visual Studio performance trace using the following command :

[code]

I am getting the following crash :
[code]

[2021-05-26 23:45] brianrob commented on #1431
Then this is not related to the issue that I'm in the process of tracking down.  I'm not sure what would cause the issue.  The message that you're getting is fairly old, and so I should remove it, but that doesn't change the fact that you have a bunch of stacks that aren't getting unwound by the OS unwinder all the way to the base of the stack.  I'll do some follow-up to see if this is showing up

[2021-05-27 17:01] nkolev92 commented on #1384
I am running into the same issue :(

Any tips for diagnosing what the root cause is @brianrob @brunom

I don't have VTune, and I only really figured out that it works after a restart after seeing this particular issue.

[2021-05-27 18:03] eiriktsarpalis commented on #1431
I'm getting the same message when profiling .NET 6 apps.

[2021-05-27 20:17] brianrob commented on #1384
To be honest @nkolev92, I've not spent a lot of time diagnosing these types of issues in general, as other folks have historically figured these out before I learned of them.  I did learn recently that there is an HP performance utility that seems to also cause this.  You don't happen to be running on an HP machine, do you?

[2021-05-27 23:16] nkolev92 commented on #1384
Nope, no HP hardware/software on this machine.

It used to work, so I tried figuring out what new software I had installed, but no luck.

[2021-05-27 23:30] jmarolf commented on #1436
getting the same exception

[2021-05-27 23:43] jmarolf commented on #1436
removing provider `641d7f6c-481c-42e8-ab7e-d18dc5e5cb9e` fixed this for me

[2021-05-28 01:52] brunom commented on #1384
@nkolev92 Sorry, I'm still suffering from this. It also breaks `powercfg /energy` which logs `CPU Utilization:Analysis Error`
What's your HW?

[2021-05-31 06:28] dcatteeu opened #1438 "empty cpu stacks when following tutorial"
I just tried out the tutorial but end up with empty CPU stacks: every process seemingly spent 0 ms.

I did the following:
1. download perfview.exe and start it
2. select "Collect", then "Run"
3. grant admin rights
4. enter "Tutorial.exe" in "Command" field
5. click "Run command"
6. wait ~30seconds
7. select "CPU stacks"

There seem to be ~100K events, but the CPU stacks are empty.

There's a warni

[2021-06-01 15:01] EgorBo commented on #1438
@dcatteeu do you by any chance have Intel VTune installed in your system?
I had the same empty callstacks recently and fixed it by uninstalling VTune.

[2021-06-01 15:38] dcatteeu commented on #1438
@EgorBo : No, I don't, but thank you for sharing your experience

I tried the same thing on another machine and had no issue (except for some broken stacks), so I conclude there could be something on my machine that breaks it.

[2021-06-02 00:17] brianrob commented on #1436
It looks like the reason for this error is that you're specifying .NETTasks:0:0, which disables the provider.  However, this provider is not enabled by default (it used to be), and so you're getting this error because the provider was not enabled, and thus can't be disabled.

[2021-06-02 00:27] brianrob commented on #1438
Does this persist if you reboot?  I am working to get eyes on this issue.

[2021-06-02 04:43] dcatteeu commented on #1438
Yes it does.

Thank you for having a look, Brian. Let me know if I can provide extra input.

[2021-06-02 11:42] dcatteeu commented on #1438
Some additional info:

When I collect CPU usage in Visual Studio (as in Step 1 of https://docs.microsoft.com/en-us/visualstudio/profiling/beginners-guide-to-performance-profiling?view=vs-2019) I have a similar issue to the one described here: https://developercommunity.visualstudio.com/t/profiling-cpu-still-states-no-user-code-was-runnin/607535. There is no CPU usage data at the end of the collect

[2021-06-02 11:53] dcatteeu commented on #1438
I found a work around on Stack Exchange: https://stackoverflow.com/a/62793971/3855204

If I disable my Nvidia card in device manager and reboot, all is fine...

[2021-06-02 12:45] mmgagnon commented on #1436
Indeed, using the following command worked for me. Maybe a better error message could be generated?

[code]

[2021-06-02 14:08] brianrob commented on #1438
Yes, @dcatteeu, this is an ETW issue.  You could file an issue in the Feedback Hub, and that would get routed to the right team.  I am also working with the folks who are engaged on looking at this.  Thanks for confirming that you were able to work around this.

[2021-06-02 22:05] brianrob commented on #1436
It is possible to have a better error message - this is just one that happens to come from the `HRESULT` that comes back from the ETW call.  I'll leave this open to track adding a better error message.  If this is something you're interested in doing, I would gladly accept a PR.  :)

[2021-06-04 18:47] #1111 closed

[2021-06-04 19:47] nkolev92 commented on #1384
@brunom

After some digging, we might be hitting: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1302489 or equivalent. So this issue seems to have become more and more common.

[2021-06-04 19:51] brunom commented on #1384
@nkolev92 Seems only MSies can see that page. Summary?

[2021-06-04 20:44] nkolev92 commented on #1384
Oh my bad, I meant to link the public version: https://developercommunity.visualstudio.com/t/No-Data-in-CPU-Usage-Tool-Windows-Updat/1384519

[2021-06-08 08:50] iSazonov commented on #1431
The same on latest .Net 6 Preview. As a consequence, it is impossible to trust the results :-(
I think we will need PerfView in PowerShell repo for next two months to prepare next release based on .Net 6.0.

[2021-06-08 13:58] brianrob commented on #1431
For .NET 6, this is being tracked with https://github.com/dotnet/runtime/issues/53743.

[2021-06-10 19:00] twwilliams commented on #1049
This causes a big problem for us since we have internal Utilities classes already.

While our classes are in a proper company-named namespace hierarchy, when we end up using OurCompany.Internal in a file (which is most places), when we add a reference to the Microsoft.Diagnostics.Tracing.TraceEvent assembly to our project, none of our Utilities.Whatever() calls can be resolved because this top-lev

[2021-06-18 20:43] lateralusX opened #1445 "TraceLog.IsKernelAddress makes wrong assumptions for none Windows platforms."
Runing EventPipe on Android Arm32 will produce trace files that can have code address in high address space. Trying to convert that nettrace file to SpeedScope or trying to load it in PerfView will give incomplete stack traces (without any method information). After digging through the parser code I located the issue to be and assumption done in TraceLog.IsKernelAddress where it assumes the follow

[2021-06-18 20:43] lateralusX commented on #1445
//CC @brianrob @josalem

[2021-06-18 21:40] lateralusX opened #1446 "ThreadID is uint64 in nettrace v4, but handled as int in EventPipeEventSource."
There is currently a downcast of ThreadID read from nettrace v4 into a int. On platforms using pointers as thread id's, there is a risk we will get negative thread id's showing up in SpeedScope and Perfview. It doesn't seem to break anything, but looks "wrong" when displayed and could in theory cause collisions on 64-bit systems.

What we probably need to do is changing ThreadID to a long (unlong

[2021-06-18 21:41] lateralusX commented on #1446
//CC @brianrob @josalem

[2021-06-20 14:12] MBulli commented on #1282
I found this code here:
https://bitbucket.org/sglienke/map2pdb/src/master/

It does the same thing I tried to do with map files and pdb but seems to succeeded with it, though I didn‘t try it yet.

[2021-06-21 22:11] josalem opened #1447 "Aligned reading strategy in StreamReaderWriter causes event latency for EventPipe"
https://github.com/microsoft/perfview/blob/8a34d2d64bc958902b2fa8ea5799437df57d8de2/src/FastSerialization/StreamReaderWriter.cs#L791-L814

The above code in `StreamReaderWriter` can cause latency for EventPipe. If you have infrequent events, e.g., EventCounters, and an event block ends up a length not divisible by 8, then the reader will attempt a blocking read that will not return until more data

[2021-06-23 10:59] eladavron commented on #1166
Keep running into this as well.
Killing off session doesn't seem to help.

[2021-06-23 13:23] rosenqui-cysiv commented on #1166
Same here... it just started this week for me. It happens when I call `TraceEventSession.EnableKernelProvider`.

`Get-EtwTraceSession * | Measure-Object` shows 58 sessions active.

[2021-06-23 14:12] eladavron commented on #1166
Mine can get as low as 45, but when I start my debugging session it jumps right up to 52 again.
Which doesn't matter, since killing those sessions seems to do nothing.
It's worth mentioning that before it started happening I had an 'unclean' exit, and didn't unregister providers when I quit.
Now I added the destructor:

[code]
Which I was hoping would help keep my ETW Trace Sessions clean, but ala

[2021-06-23 20:05] andkamashev opened #1448 "Hide Utilities namespace"
Lots of devs has Utilities static class(es) in project and after installing this nuget all calls of methods like Utilities.Sum(228,1488) throw error on compilation. It is quite easy to fix, but not if you have hundreds of projects.

[2021-06-24 03:12] brianrob commented on #1448
From a quick look at the Utilities namespace, it looks like this would not change any public surface area.  Would you be interested in submitting a PR to merge the Utilities namespace with Microsoft.Diagnostics.Utilities?

[2021-06-24 03:49] pharring opened #1449 "Native binaries (msdia140.dll vcruntime etc.) are not copied in transitive builds"
Repro:
1. Create a solution with two projects: One an EXE targeting net5.0-windows and one a class library targeting netstandard2.0.
2. Have the EXE reference the class lib project
3. In the class lib, add a package reference to Microsoft.Diagnostics.Tracing.TraceEvent
4. Build the whole solution and examine the output folder
Expect:
You should see native DLLs (msdia140.dll etc.) in the x86/amd64

[2021-06-24 10:24] andkamashev commented on #1448
Sure, it will be nice, anything except global Utilities namespace will be perfect

[2021-06-25 22:05] #1449 closed

[2021-06-28 14:22] brianrob commented on #1166
Restarting should generally solve the problem.  If it doesn't, too many sessions are being started on boot, or the issue is something else.  It's also worth calling out that `logman query -ets` doesn't actually list out all sessions - I learned recently that some sessions are hidden.  To get the complete list, you can run `typeperf -qx "Event Tracing for Windows Session" | findstr /c:"Events Lost"

[2021-07-08 20:01] windhandel commented on #954
If, like me, you were looking for the Thread Time checkbox in the UI, it's waaaaayyyy out of sequence. It's near the top. The switch is /threadTime.

See:

![image](https://user-images.githubusercontent.com/5337357/124983237-8dd8be80-dfec-11eb-9223-68bd76e7a39d.png)

And:

![image](https://user-images.githubusercontent.com/5337357/124983280-9b8e4400-dfec-11eb-9311-c9b65a112960.png)

[2021-07-10 13:10] solomon-okolie opened #1459 "Unable to use Heap Snapshot window"
Using the latest release 2.0.70, I get an error when I try to open the take heap snap shot window.
Clicking on continue closes the dialog without opening the heap snapshot window.
Existing and restarting Perfview does not prevent this from happening.

Perfview.exe
![Perfview](https://user-images.githubusercontent.com/17110967/125164053-86521a80-e190-11eb-9b2b-b9cc3d71a79d.PNG)

Perfview64.exe
![Pe

[2021-07-12 02:36] brianrob commented on #1459
@solomon-okolie, does this reproduce with earlier versions of PerfView?  My expectation is that it will, and that this is a machine-specific issue.  This is a failure from WMI when trying to get the list of processes on the machine so that the user can pick one to capture a heap snapshot.  I suspect that WMI might be disabled, or that you may not have access to make the query.

It would be interes

[2021-07-12 20:47] solomon-okolie commented on #1459
@brianrob correct this has something to do with my PC, I just tried old versions and got the same error.
However when I clone main and build locally, then run the generated exe I don't get the error but I also don't see any process in the list to pick( so yea something is not right on  my PC).

[2021-07-14 18:59] #1459 closed

[2021-07-20 23:57] Maoni0 opened #1467 "GC event changes for .NET 6.0"
the runtime change [#55888](https://github.com/dotnet/runtime/pull/55888) added a bunch of new events for GC analysis. corresponding changes need to happen in perfview.

[2021-07-29 08:01] kant2002 opened #1472 "Hitting assertion in AddServerGCThreadFromMark"
I have locally build PervView in Debug configuration. When trying troubleshoot memory usage of restore process on Raspberry PI 3B+ (Raspbian 32-bit), I take trace using `dotnet-trace collect -pid xxx`.  This result in the `dotnet_20210729_084804.nettrace` file.

I successfully open that file in PerfView, but when double-click on `Memory Group\GCSTats` I start constantly hitting assertion at follow

[2021-07-30 07:25] Maoni0 commented on #1472
do you know for sure that it has only 1 heap? you could verify this various ways, eg, you could look at the MarkWithType event which has a HeapNum field:

<HTML>
<BODY>
<TABLE><TR><TD>Microsoft-Windows-DotNETRuntime/GC/MarkWithType ThreadID=&quot;3,720&quot; ProcessorNumber=&quot;3&quot; HeapNum=&quot;3&quot; ClrInstanceID=&quot;11&quot; Type=&quot;1&quot; Promoted=&quot;0&quot; </TD></TR></TABLE>

[2021-08-02 14:13] tiagonapoli commented on #598
Thanks so much, @vancem!
I wasn't able to do a cpu profiling in production due to the overhead, and if I selected only CPU Samples there were a lot of broken stacks, due to missing JIT Stacks

The example you added was exactly what I needed:
[code]

[2021-08-05 20:52] VidyaKukke commented on #1166
I'm seeing this too. Is there a way to increase the number of ETW sessions as a workaround? Nothing mentioned here seems to help.

[2021-08-05 20:56] brianrob commented on #1166
Check out https://devblogs.microsoft.com/performance-diagnostics/wpr-fails-to-start-insufficient-system-resources/.  The article talks about why this happens and what you can do to address it.

[2021-08-05 21:40] VidyaKukke commented on #1166
That was useful article ! Thanks Brian. I was able to cleanup some sessions and remove some from startup.

[2021-08-05 21:48] brianrob commented on #1166
Excellent @VidyaKukke.

We seem to have built up some critical mass around this problem and have it understood.  Given that it is not a PerfView or TraceEvent issue, I'm going to go ahead and close this issue.  For those that want more details, please see https://devblogs.microsoft.com/performance-diagnostics/wpr-fails-to-start-insufficient-system-resources/.

[2021-08-05 21:48] #1166 closed

[2021-08-09 22:33] josalem opened #1474 "Conversion from to pointer in managed code can cause segfaults under aggressive GCs"
https://github.com/microsoft/perfview/blob/6b4771eecba5ed00555a34d70e19a8742af4ee0a/src/TraceEvent/EventPipe/EventCache.cs#L169-L212

For example these lines from the above method:
https://github.com/microsoft/perfview/blob/6b4771eecba5ed00555a34d70e19a8742af4ee0a/src/TraceEvent/EventPipe/EventCache.cs#L194-L198

which call this method:
https://github.com/microsoft/perfview/blob/6b4771eecba5ed0055

[2021-08-10 03:38] imank61 opened #1475 "Increasing Private memory (In use)"
Hi
I encountered to an Increasing Private Memory problem, when I Use the events [Source.Kernel.FileIOWrite] & [Source.Kernel.FileIORead] in my code.
I have also checked for IDisposable Objects in the parameters on these events. There is no any IDisposable object to dispose.
But I don't know why the private memory is increasing continuously?
May you help me please?

Regards

[2021-08-13 06:47] #1109 closed

[2021-08-20 09:30] #718 closed

[2021-08-25 10:23] ricohomewood opened #1479 "Microsoft.Diagnostics.Tracing.TraceEvent.SupportFiles vulnerability in bundled dia2lib.dll"
OWASP dependency scan has detected that the bundled `dia2lib.dll` 2.0.0.0 in the support files that come with this nuget package have the CVE-2006-2453 vulnerability and should be patched.

The description being: Multiple unspecified format string vulnerabilities in Dia have unspecified impact and attack vectors, a different set of issues than CVE-2006-2480.

Details here on the CVE: https://www.c

[2021-09-01 08:23] lateralusX commented on #1446
Took a quick look at this and doing it thoroughly will be a very invasive change that probably will break a lot of scenarios, there are hundreds of assumptions across the repro that thread id is of type int, and thread id's might be emitted not just into the record header but might also be part of specific event payloads, and in order for all to work we would need to go through all of this. Most o

[2021-09-01 23:36] brianrob commented on #1446
Yup, unfortunately, TraceEvent uses integers for thread IDs because it was written when it only handled Windows traces, and thread IDs on Windows are 4 bytes wide.  Agreed this would have fairly large ramifications.

[2021-09-03 14:50] lateralusX commented on #1445
Fixed by #1480.

[2021-09-03 14:50] #1445 closed

[2021-09-10 15:31] Xhanti opened #1487 "Question: Does Perfview have support for source files included via EmbedAllSources"
Hi,

I logged this [here](https://github.com/microsoft/perfview/discussions/1483), which might be the wrong place., adding here as well.

In addition to source link support, does perfview support getting source code from a dll where the source code has been embedded in the dll via EmbedAllSources? If not what might it take to include such support? I would like to take a look at that, if it does no

[2021-09-15 14:44] yang-er opened #1489 "Feature Request: Capturing Network Traffic via Packet Monitor"
[Packet Monitor (PktMon)](https://docs.microsoft.com/en-us/windows-server/networking/technologies/pktmon/pktmon) was introduced since Windows 10.0.19041.

Will PerfView support that?

[2021-09-15 14:54] brianrob commented on #1489
@yang-er, there aren't any current plans to do something specific around Packet Monitor, but it looks like Packet Monitor produces an [ETL file](https://docs.microsoft.com/en-us/windows-server/networking/technologies/pktmon/pktmon-netmon-support) that is consumable via NetMon, and PerfView should already be able to open this ETL file.  Is that what you're looking for?

[2021-09-15 17:41] brianrob commented on #1487
@Xhanti, I have not done any specific work to support this, so I doubt that it does work.  Embedded PDBs might work, but I would need to test that.  I don't know what would be required to support either of these - first step here is likely an investigation.

[2021-09-15 19:10] Xhanti commented on #1487
Thank you

[2021-09-16 08:30] yang-er commented on #1489
As my understand, currently PerfView would combine the netsh trace result and standard ETL result into one ETL file.

So here I am thinking about getting a combined ETL file with standard ETL events (Kernel, Process, etc) and PktMon ETL events.

[2021-10-03 18:55] Alois-xx opened #1504 "Enable more Kernel Flags"
Currently PerfView does not allow me to e.g. enable MiniFilter kernel flags. Are there any plans to update
the update to enable the full set (https://www.geoffchappell.com/studies/windows/km/ntoskrnl/inc/api/ntwmi/perfinfo_groupmask.htm) of flags?

[2021-10-04 12:55] szlatkow opened #1505 "GitHub Releases"
Hello,
I am Svetoslav from PipelineFoundation and we are making CI/CD pipeline for your project, there are few specifics that I would like to know about the GitHub Releases
How are you packaging your GitHub Releases the first one is in production and the other one is in test ?

[2021-10-04 14:23] brianrob commented on #1505
@szlatkow, all of the releases that are published to GitHub are production releases.

[2021-10-05 11:04] szlatkow commented on #1505
@brianrob,
 Okay what is the difference from the Release marked with "T" on the version and the one marked with "P"?

[2021-10-05 14:06] brianrob commented on #1505
The difference is in the files that are published.  T == TraceEvent, and P == PerfView.

[2021-10-14 10:20] eduherminio opened #1508 "`Tutorial.cs` link doesn't work from GitHub/browser"
From https://github.com/microsoft/perfview/pull/1506#issuecomment-941238768

It does work from Perfview.

Initial attempt to address it: https://github.com/microsoft/perfview/pull/1506

[2021-10-16 14:59] cblaze22 opened #1510 "Perfview command trigger being executed incorrectly on threshold"
Is there a way to get correct CPU on multi core?

https://stackoverflow.com/questions/69455605/perfview-command-trigger-being-executed-incorrectly-on-threshold?noredirect=1#comment122985250_69455605

[2021-10-19 15:57] waylonflinn commented on #903
PerfViewJS has been removed in master but is available at the following commit:
https://github.com/microsoft/perfview/tree/27b3edf1e62b4d21ab72d01ecf991d9838fe4afb/src/PerfViewJS

[2021-10-29 20:18] lzybkr opened #1515 "Cropped error message in search window"
The error message is cropped in the search window:

![image](https://user-images.githubusercontent.com/2148248/139495532-d017d266-92c4-4277-850d-4d0ad9b6597b.png)

This is on Windows 11.
To repro, you need to change the system wide Text Size under Accessibility. I have my Text size set to 120%.

[2021-11-09 14:07] zbrilhart opened #1516 "StackOverflow Exception when loading "Thread Time (with StartStop Activities) Stacks""
When attempting to load the view "Thread Time (with StartStop Activities) Stacks" with Perfview or Perfview64.exe a stackoverflow exception is produced.
![StringBuilderStackOverflow](https://user-images.githubusercontent.com/12052855/140938311-726580ef-9ba0-4708-bd61-b44ec6740f7b.png)

Debugging with visual studio gives a null reference at `System.Text.StringBuilder.get_Capacity()`
[stringbuilder.

[2021-11-09 20:36] oising opened #1517 "Consider making PerfView available over WinGet"
[code]

Sad face.

[code]

[2021-11-11 21:00] #1315 closed

[2021-11-28 07:51] Ruikuan opened #1538 "Can not visit channel9 PerfView video tutorials anymore."
When trying to visit http://channel9.msdn.com/Series/PerfView-Tutorial, it's redirected to https://docs.microsoft.com/en-us/teamblog/channel9joinedmicrosoftlearn, without any useful information.

[2021-11-29 06:34] Xhanti commented on #1538
Hi,
Does anyone know where they have moved to? Doing a search on learn platform does not bring them up

[2021-11-29 22:37] teo-tsirpanis commented on #1517
Even better in the Windows Store, like the refreshed WinDbg.

[2021-11-30 02:43] danharlin commented on #1538
I'm also looking for the tutorial.

[2021-11-30 06:43] MokoSan commented on #1538
[This](https://www.youtube.com/watch?v=NDU-vTFfXgE&list=PLUw72SgBBmQxqm_e2g4QAdkyc88ZPL3aq) playlist has the first few videos. Alternatively, Wayback machine has been a life saver. [Here](https://web.archive.org/web/20200821043012/http://channel9.msdn.com/Series/PerfView-Tutorial) are all the old links. I am considering downloading all of them.

[2021-11-30 07:09] Xhanti commented on #1538
Can someone download them and put them on YouTube? What is the copyright on them?

[2021-11-30 23:49] brianrob commented on #1517
I am looking into the possibilities here.  I expect it will take a few months to have a clearer picture, especially since things are slowing down for the holidays.  I will report back once I know more.

[2021-12-01 00:07] brianrob commented on #1538
I am investigating what we should do here.  Will report back once I know more.

[2021-12-06 14:13] dront78 commented on #1260
still there

[2021-12-07 16:26] turboscholz opened #1543 "Download link is not working as described in Downloading.md"
In the file `Downloading.md`, section "Shortcut to Download the Latest PerfView.exe" (linked on the GitHub main page) it states:

However, when I click on the link, neither with Firefox, nor with Chrome nor Edge the download starts. Instead, I see this page (see screenshot below), but there is nothing pointing me to `PerfView.exe`:

----
![image](https://user-images.githubusercontent.com/5513310/1

[2021-12-07 19:21] mwasplund-msft commented on #1172
It looks like @sywhang  is no longer at Microsoft, @brianrob can someone else take a look at this?

[2021-12-08 13:08] danharlin commented on #1538
Thanks, MokoSan, for the links.  They are a lifesaver.

[2021-12-08 13:14] ronnieholm commented on #1538
@MokoSan How do you download episodes from [archive.org](https://archive.org/)? For instance, on

https://web.archive.org/web/20200816135232/https://channel9.msdn.com/Series/PerfView-Tutorial/PerfView-Tutorial-7-Using-the-Event-Viewer-in-ASPNET-Scenarios

the source of the download links aren't archived.

[2021-12-10 05:35] MokoSan commented on #1538
@ronnieholm , thanks for the idea: I wrote a [Console App](https://github.com/MokoSan/Channel9VideoArchiveRetriever) that pulls in almost all the now unavailable Channel 9 links. Still working on a last few ones to process but added the ability to get videos from the archive based on a keyword.

The specific one for PerfView can be found [here](https://github.com/MokoSan/Channel9VideoArchiveRetrie

[2021-12-10 14:02] NSKC commented on #1543
Requesting the same as user turboscholz.  The download instructions are not accurate for downloading perfview.exe.

[2021-12-13 05:43] rbanks54 commented on #903
With x-plat desktop now a viable option with .NET 6 & MAUI would a Mac Catalyst build be possible?

[2021-12-13 06:21] cnmade commented on #903
https://github.com/dotnet/dotnet-monitor
Microsoft has another project, which provide HTML(a builtin web server) to show diagnostic.
It no need a Native App interface, It can be also a web page.
HTML is cross platform.

[2021-12-14 09:16] mregen commented on #1543
try the 'releases' link: https://github.com/microsoft/perfview/releases/

[2021-12-14 13:29] NSKC commented on #1543
Thanks!  I swear it looked different last week ;)

[2021-12-16 13:57] liorss18 opened #1545 "GCStats html fails to open for nettrace traced using dotnet-trace on a linux container"
When trying to open GCStats by double clicking on it, it says `An exceptional condition occurred, see log for details`.
The log shows the following output (error stack trace at the bottom):

[code]
dotnet  --list-runtimes
Microsoft.AspNetCore.App 6.0.0 [/usr/share/dotnet/shared/Microsoft.AspNetCore.App]
Microsoft.NETCore.App 6.0.0 [/usr/share/dotnet/shared/Microsoft.NETCore.App]```

command used t

[2021-12-18 21:20] liorss18 commented on #1545
Here's a [link](https://drive.google.com/file/d/106CAoH-JwDvKbKgctwhwbvVRMKn8p761/view?usp=sharing) to the trace.

[2021-12-26 13:02] solomon-okolie opened #1546 "Force GC returns false"
When I do a Force GC on a .NetCore3.1 or .Net6 process, status returns success= False. Below is the log captured.

Started with command line: "C:\Tools\Perfview\PerfView64.exe"
PerfView Version: 2.0.74  BuildDate: Mon, 08 Nov 2021 22:34:08 GMT
PerfView Start Time 26/12/2021 13:56:25
Warning: PdbScope not found at C:\Tools\Perfview\PerfViewExtensions\PdbScope.exe
Disabling the Image Size Menu Item.

[2022-01-03 20:50] brianrob commented on #1546
It looks like the error here is `Could not enumerate .NET runtimes on the system.`.

@davmason, do you know if we should be able to enumerate runtimes with the code at https://github.com/microsoft/perfview/blob/main/src/HeapDump/GCHeapDumper.cs#L783 in order to attach the profiler to a .NET 6 process?  From a quick test, this doesn't appear to work for .NET 6.

[2022-01-03 20:55] brianrob commented on #1545
@liorss18, I was able to successfully open this using PerfView 2.0.73.  Can you try a newer version of PerfView?  I suspect this is due to a breaking change in one of the GC events in .NET 6.

[2022-01-03 20:57] brianrob commented on #1543
I have updated Download.md via https://github.com/microsoft/perfview/pull/1548 to just link to the releases page, since it seems that getting the right order of releases has been tough for me.  :)

[2022-01-03 20:57] #1543 closed

[2022-01-03 21:09] brianrob commented on #1538
As an FYI, I'm told that these videos will be migrated over from Channel9, but there is not yet an ETA.  Once it happens, I should get notified, and I can share here.

[2022-01-03 22:33] brianrob commented on #1172
@josalem can you take a look at this now that @sywhang is no longer at Microsoft?  Thinking about this one a bit, I think that it's reasonable to block when waiting for the next event after Process is called, but we shouldn't be blocking in the constructor.  This would be consistent with how ETW real-time sessions work.

[2022-01-03 22:51] josalem commented on #1172
Can do. This is a recurring issue and is unexpected behavior I would argue. I think care may need to be taken on "fixing" this, however, as this has been the behavior for a long while and changing it without an opt-in has the potential to break existing tools if they update their TraceEvent version.

[2022-01-03 23:25] brianrob commented on #1172
Thanks John.  To be honest, I'm not concerned about putting this behind a flag unless it has other more far reaching implications.  If you're concerned, one thing you could consider is submitting it to the feature/perfview-3.0 branch.  I'm batching up some larger changes that I'm going to release with a 3.0 version, and so this could be part of that.

[2022-01-04 09:35] davmason commented on #1172
+1 to not requiring a flag. It is technically a behavior change, but it's hard to imagine anyone relying on it.

I have helped multiple people figure out why their code was seemingly deadlocked, it is hard/impossible for someone unfamiliar with the internal of TraceEvent to figure out what is happening.

[2022-01-04 09:46] davmason commented on #1546
No, that approach is unsupported and removed from coreclr. Even if you could get a CLRMetaHost, we don't support ICLRProfiling anymore.

The new way to attach a profiler since .net core 3.1 is to attach using the [DiagnosticsClient](https://docs.microsoft.com/en-us/dotnet/core/diagnostics/diagnostics-client-library#attach-an-icorprofiler-profiler). We don't currently have a way to query per proces

[2022-01-08 18:16] kkostrzewa opened #1550 "Perfcollect, dotnet 6 & crossgen2"
I'm trying to run perfcollect on linux (WSL Ubuntu 20.4) to collect native traces and I'm getting the warning **Crossgen not found.  Framework symbols will be unavailable**.

I see [perfcollect](https://raw.githubusercontent.com/microsoft/perfview/main/src/perfcollect/perfcollect) is dependent on crossgen, which doesn't appear to exist on dotnet 6. It looks like that's been replaced with crossgen2

[2022-01-10 07:12] yoziv opened #1551 "[TraceEvent] when reading a manifest that has 2 providers only 1 is shown"
When reading a manifest file using TraceEventSession.Source.Dynamic.ReadAllManifests(FileName.man), i noticed that if my manifest contains two providers when i try to check which providers are registered i only get the first one in the file even though i get events from the second provider which "isn't registered" according to TraceEventSession.Source.Dynamic.DynamicProviders

`using var session =

[2022-01-12 00:17] brianrob commented on #1550
@kkostrzewa, I just installed WSL so that I could test this, but I can't seem to get perf to run, because there isn't a version of perf that matches the kernel version.  Did you build perf from source, or did you otherwise workaround this?

[2022-01-12 00:34] kkostrzewa commented on #1550
@brianrob yes, I built perf from source following the steps in https://stackoverflow.com/a/60276918/3794464

[2022-01-16 16:20] priceluke opened #1552 "System.NullReferenceException: 'Object reference not set to an instance of an object.'"
I enable the Published Microsoft-Windows-DNS-Client provider and set the following callback function:
[code]
This allows me to have a buffer of `TEXT_BLOCK_LENGTH` events that I can display to the user.

The issue I am having arises when I try and access basic properties of the TraceEvent Object. I specifically get the NullReferenceException when retrieving the TimeStamp attribute.

Any ideas?

[2022-01-16 18:43] brianrob commented on #1550
@kkostrzewa the design is that for .NET 5+ you don't need crossgen to generate framework symbols because we use the perf JIT dump feature instead.  It looks as though the warning logic isn't working properly because it's not finding the jit dump file that is being created.  I'm also having trouble running perfcollect as is on my setup, and so I can't tell if the symbols are showing up properly.  A

[2022-01-16 20:17] brianrob commented on #1552
Take a look at [Lifetime Constraints on TraceEvent Objects](https://github.com/microsoft/perfview/blob/main/documentation/TraceEvent/TraceEventProgrammersGuide.md#lifetime-constraints-on-traceevent-objects).  The issue here is likely that you are missing a call to `data.Clone()` before you add it to `events`.

[2022-01-16 20:22] priceluke commented on #1552
This solved my issue! Thank you very much :)

[2022-01-16 20:22] #1552 closed

[2022-01-16 21:52] vladimir-cheverdyuk-altium opened #1553 "How PerfView suppose to work with NGENed imaged"
Hi

I have a PerfView capture that was taken on client machine when client was using our software.  Our software has multiple .NET assemblies that are NGENed during installation process. We are using .NET Framework 4.8.

In that capture, I can see 2 PDB files generated by PerfView during capture process. I can see it from ```LogFile.txt``` from .etl.zip. I don't see attempts to generate any other

[2022-01-17 12:55] priceluke commented on #1552
@brianrob I've got a background thread running the TraceEventSession which updates a GUI. I find the session will sometimes close, not that I can work out why. Come across anything similar before or got any ideas on how you'd set this up?

[2022-01-17 14:34] adamsitnik commented on #1538
@walkingcat did an amazing job of recovering the archive: https://walkingcat.github.io/ch9-index/?p=Series_PerfView-Tutorial

[2022-01-17 14:46] WalkingCat commented on #1538
I listed the .wmv format video links on that page, if you want other formats (.mp4) you can find them from Wayback Machine, simply remove the web.archive.org prefix and use the actual original url (https://sec.ch9.ms/....)

[2022-01-17 14:52] Ruikuan commented on #1538
@WalkingCat Thank you very much!

[2022-01-18 21:09] brianrob commented on #1553
There shouldn't be anything else that you need to do - PerfView should call `ngen.exe /createPDB` automatically to generate them.  You can generate them manually too, but you should not have to.  Would it be possible for you to share the trace file where you saw this, as well as which assemblies are NGEN images that didn't get generated?  You can share it here, or you can e-mail it to me at brianr

[2022-01-18 21:44] vladimir-cheverdyuk-altium commented on #1553
Hi Brian

Thank you for prompt response. I sent link to file to your email as I'm not sure if our customer want this file public.

Also you said I can generate them too, just in case, could you please explain how, as it will help my investigation.

Thank you,
Vlad

[2022-01-19 00:10] brianrob commented on #1552
Glad that fixed things.  I'm not sure why the session would close unless it's being disposed.  Is it possible that its being disposed unintentionally or that the thread dies unintentionally, and so the session gets finalized?  FWIW, I would call `TraceEventSession.Process` on a background thread, and then as the events get processed on that background thread, update the data structures that the GU

[2022-01-19 00:55] brianrob commented on #1551
@yoziv, looking at the code, it appears that the code is written to just handle one manifest per `man` or `manifest.xml` file.  It is possible to change the code to handle multiple manifests, but as it is written, this looks to be by design.

[2022-01-19 18:49] brianrob commented on #1553
Thanks @vladimir-cheverdyuk-altium.  I received the file, and from a quick look, I would have expected the other NGEN assemblies to be generated, so I will need to debug this to understand further what happened.

If you want to generate the assemblies manually, you can run this command (customize for your assembly/machine):

[code]

PerfView should pick these up as long as this location is part of

[2022-01-19 19:33] vladimir-cheverdyuk-altium commented on #1553
Thank you @brianrob. I will wait for result.

About generating PDB files. I assumed that generating native images depends on processor architecture and will be different on different computers. So ```System.ni.dll``` on my PC will not be the same as ```System.ni.dll``` on customer PC. Did something change in this area, or do we all have the same class of processors and NGEN will always generate th

[2022-01-19 20:01] brianrob commented on #1553
Correct - for .NET Framework, which this app is running on, the native images are all generated on the customer machine, and so the images and the PDBs are specific to that machine.  For .NET Core, any precompiled native images are generated as part of app deployment, and so while they'll be architecture specific, PDBs won't need to be generated at trace collection time.

[2022-01-19 20:18] turboscholz commented on #1543
Maybe it was solved some days ago, but the PerfView.exe file is still/again not visible in the mentioned link above.
![grafik](https://user-images.githubusercontent.com/5513310/150207388-94ffc9bc-5d9a-482f-b271-fb887e3b7e6f.png)

[2022-01-19 22:36] brianrob commented on #1553
I think I have figured this out.  We use stack events to determine which NGEN images we need to generate symbols for.  One of the stack logging mechanisms isn't currently being used, and so when stacks are "compressed", they aren't considered when generating NGEN images.  The fix is just to consider this additional source of stack events.  Expect a PR shortly.

[2022-01-19 22:42] brianrob commented on #1543
For each version, there is a PerfView release and a TraceEvent release.  So for 2.0.74, you have found the TraceEvent release.  If you go to the releases page, there will also be a PerfView 2.0.74.  This is the one that you want.

[2022-01-19 22:57] vladimir-cheverdyuk-altium commented on #1553
@brianrob, thank you for so quick diagnostics!

[2022-01-20 02:52] brianrob commented on #1553
You're welcome.  Would you by chance be able to test this change and make sure that it solves your problem?

[2022-01-20 17:59] vladimir-cheverdyuk-altium commented on #1553
Sorry I'm new to processes here. Is there any new version I can send to customer?

[2022-01-20 18:48] brianrob commented on #1553
The best way is to build it from source.  I have also just sent you an e-mail with a private copy to avoid posting unsigned bits here.

[2022-01-21 13:02] priceluke commented on #1552
@brianrob I have implemented as you describe and works perfectly for the most part. When the background thread, responsible for processing events as they are created, pauses it can be successfully reconfigured to monitor new ETW providers. However, when it is monitoring very intensive providers, it doesn't ever break from processing and therefore doesn't restart with the new settings.

What is the